<div class="container">
  <h4 class="mt-0 mb-1 text-center">Billposter Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/ab/Billposter_Sonichand.png" style="width:32px;" alt="Sonichand">Sonichand</h6>
        <p class="card-text">A series of fast, multiple straight punches.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a9/Assist_Stonehand.png" style="width:32px;" alt="Stonehand">Stonehand</h6>
        <p class="card-text">Attacks have a 12% chance to stun a target for 0.2 seconds. Grants the user 20% Casting Speed.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/b/b8/Assist_Prevention.png" style="width:32px;" alt="Prevention">Prevention</h6>
        <p class="card-text">Recovers HP when it fall below a certain point.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/1/1d/Assist_Burst_Crack.png" style="width:32px;" alt="Burst Crack">Burst Crack</h6>
        <p class="card-text">Pounds the ground and strikes enemies around you.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/9/9a/Billposter_Bgvur_Tialbold.png" style="width:32px;" alt="Bgvur Tialbold">Bgvur Tialbold</h6>
        <p class="card-text">Creates a shockwave that strikes nearby enemies.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/e/ed/Billposter_Asalraalaikum.png" style="width:32px;" alt="Asalraalaikum">Asalraalaikum</h6>
        <p class="card-text">Fully concentrated strke. Consumes all of your MP to greatly damage another player.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Clarion-Call.gif">
        <h6 class="card-title">Clarion Call</h6>
        <p class="card-text">Removes all Movement and Stun debuffs affecting allies in a radius of 30 meters. Grants the caster +35% Physical Attack for 12 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Spiritual-Whirlpool.gif">
        <h6 class="card-title">Spiritual Whirlpool</h6>
        <p class="card-text">Grants the user +5% Physical Attack and +10% Critical Chance for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Fountain-of-Life.gif">
        <h6 class="card-title">Fountain of Life</h6>
        <p class="card-text">Places a fountain for 30 seconds, allies within 8 meters of the fountain are healed for 5% of their Max Health every 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Vein-Cut-New.gif">
        <h6 class="card-title">Vein Cut</h6>
        <p class="card-text">A heavy blow which gives the target a debuff of -500 Attack for 10 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Dragon-Fist.gif">
        <h6 class="card-title">Dragon Fist</h6>
        <p class="card-text">A deadly attack. If the target has the Bein Cut debuff, an additional 4 attacks are dealt, dealing 25% of Dragon Fist's damage increasing 15% for each additional hit.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuSuho.png" style="width:32px;">  Guardian Knuckle</p>
        <p>Critical Chance +2%<br>Phys. Attack +6%<br>Critical Damage +14%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBil02Upper.png" style="width:32px;">  Alext/Ales</p>
        <p>STA +8<br>Max. HP +2%<br>STR +10</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuUsu.png" style="width:32px;">  Historic Knuckle</p>
        <p>Critical Chance +3%<br>Phys. Attack +10%<br>Critical Damage +20%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBil03Upper.png" style="width:32px;">  Akent/Aken</p>
        <p>STA +12<br>Max. HP +4%<br>STR +16</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaKnuAngel.png" style="width:32px;">  Angel Glove</p>
        <p>Critical Chance +5%<br>Phys. Attack +14%<br>Critical Damage +26%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBilSet04Upper.png" style="width:32px;">  Rody/Rodey</p>
        <p>STA +16<br>Max. HP +6%<br>STR +22</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaKnuLegendG.png" style="width:32px;">  Legendary Golden Gloves</p>
        <p>Critical Chance +7%<br>Phys. Attack +18%<br>Critical Damage +32%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBilSet03Upper.png" style="width:32px;">  Billst/Billporon</p>
        <p>STA +20<br>Max. HP +8%<br>STR +28</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaKnuBloody.png" style="width:32px;">  Bloody Knuckle</p>
        <p>Critical Chance +16%<br>Phys. Attack +30%<br>Critical Damage +62%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBilSet05Upper.png" style="width:32px;">  Grim</p>
        <p>STA +34<br>Max. HP +17%<br>STR +46<br>Phys. Attack +10%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaKnuCorpsemaker.png" style="width:32px;">  Corpsemaker Knuckle</p>
        <p>Critical Chance +24%<br>Phys. Attack +42%<br>Critical Damage +82%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BillCorpsemakerSuit.png" style="width:32px;">  Arezzo's Corpsemaker</p>
        <p>STA +46<br>Max. HP +23%<br>STR +60<br>Phys. Attack +20%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaKnuSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Knuckle</p>
        <p>Critical Chance +36%<br>Phys. Attack +58%<br>Critical Damage +124%<br>Casting Speed +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BillSoulreaverSuit.png" style="width:32px;">  [PvE] Arezzo's Soulreaver</p>
        <p>STA +74<br>Max. HP +32%<br>STR +88<br>Phys. Attack +37%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaKnuSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Knuckle</p>
        <p>STR +70<br>Casting Speed +42%<br>Max. MP +60%<br>Max. HP -50%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BillSoulreaverSuit.png" style="width:32px;">  [PvP] Arezzo's Soulreaver</p>
        <p>STA +74<br>Max. HP +32%<br>STR +88<br>Phys. Attack +75%<br>Max. MP +10%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
