<div class="container">
  <h4 class="mt-0 mb-1 text-center">Billposter Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/ab/Billposter_Sonichand.png" style="width:32px;" alt="Sonichand">Sonichand</h6>
        <p class="card-text">A series of fast, multiple straight punches.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a9/Assist_Stonehand.png" style="width:32px;" alt="Stonehand">Stonehand</h6>
        <p class="card-text">Attacks have a 12% chance to stun a target for 0.2 seconds. Grants the user 20% Casting Speed.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/b/b8/Assist_Prevention.png" style="width:32px;" alt="Prevention">Prevention</h6>
        <p class="card-text">Recovers HP when it fall below a certain point.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/1/1d/Assist_Burst_Crack.png" style="width:32px;" alt="Burst Crack">Burst Crack</h6>
        <p class="card-text">Pounds the ground and strikes enemies around you.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/9/9a/Billposter_Bgvur_Tialbold.png" style="width:32px;" alt="Bgvur Tialbold">Bgvur Tialbold</h6>
        <p class="card-text">Creates a shockwave that strikes nearby enemies.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/e/ed/Billposter_Asalraalaikum.png" style="width:32px;" alt="Asalraalaikum">Asalraalaikum</h6>
        <p class="card-text">Fully concentrated strke. Consumes all of your MP to greatly damage another player.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Clarion-Call.gif">
        <h6 class="card-title">Clarion Call</h6>
        <p class="card-text">Removes all Movement and Stun debuffs affecting allies in a radius of 30 meters. Grants teh caster +35% Physical Attack for 12 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Spiritual-Whirlpool.gif">
        <h6 class="card-title">Spiritual Whirlpool</h6>
        <p class="card-text">Grants the user +5% Physical Attack and +10% Critical Chance for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Fountain-of-Life.gif">
        <h6 class="card-title">Fountain of Life</h6>
        <p class="card-text">Places a fountain for 30 seconds, allies within 8 meters of the fountain are healed for 5% of their Max Health every 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Vein-Cut-New.gif">
        <h6 class="card-title">Vein Cut</h6>
        <p class="card-text">A heavy blow which gives the target a debuff of -500 Attack for 10 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Dragon-Fist.gif">
        <h6 class="card-title">Dragon Fist</h6>
        <p class="card-text">A deadly attack. If the target has the Bein Cut debuff, an additional 4 attacks are dealt, dealing 25% of Dragon Fist's damage increasing 15% for each additional hit.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuSuho.png" style="width:32px;">  Guardian Knuckle</p>
        <p>STR +14<br>Phys. Attack +4%<br>Critical Damage +14%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBil02Upper.png" style="width:32px;">  Alext/Ales</p>
        <p>STA +4<br>Max. HP +2%<br>STR +10</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuUsu.png" style="width:32px;">  Historic Knuckle</p>
        <p>STR +22<br>Phys. Attack +8%<br>Critical Damage +22%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBil03Upper.png" style="width:32px;">  Akent/Aken</p>
        <p>STA +8<br>Max. HP +5%<br>STR +16</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuAngel.png" style="width:32px;">  Angel Glove</p>
        <p>STR +30<br>Phys. Attack +12%<br>Critical Damage +30%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBilSet04Upper.png" style="width:32px;">  Rody/Rodey</p>
        <p>STA +12<br>Max. HP +8%<br>STR +24</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuLegendG.png" style="width:32px;">  Legendary Golden Gloves</p>
        <p>STR +38<br>Phys. Attack +16%<br>Critical Damage +38%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBilSet03Upper.png" style="width:32px;">  Billst/Billporon</p>
        <p>STA +16<br>Max. HP +11%<br>STR +32</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuBloody.png" style="width:32px;">  Bloody Knuckle</p>
        <p>STR +70<br>Phys. Attack +32%<br>Critical Damage +70%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBilSet05Upper.png" style="width:32px;">  Grim</p>
        <p>STA +29<br>Max. HP +20%<br>STR +54<br>Phys. Attack +11%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuCorpsemaker.png" style="width:32px;">  Corpsemaker Knuckle</p>
        <p>STR +94<br>Phys. Attack +46%<br>Critical Damage +94%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BillCorpsemakerSuit.png" style="width:32px;">  Arezzo's Corpsemaker</p>
        <p>STA +40<br>Max. HP +26%<br>STR +70<br>Phys. Attack +21%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Knuckle</p>
        <p>STR +126<br>Phys. Attack +66%<br>Critical Damage +126%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BillSoulreaverSuit.png" style="width:32px;">  [PvE] Arezzo's Soulreaver</p>
        <p>STA +68<br>Max. HP +35%<br>STR +100<br>Phys. Attack +38%<br>Block +22%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaKnuSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Knuckle</p>
        <p>STR +126<br>Phys. Attack +56%<br>Critical Damage +126%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BillSoulreaverSuit.png" style="width:32px;">  [PvP] Arezzo's Soulreaver</p>
        <p>STA +68<br>Max. HP +35%<br>STR +100<br>Phys. Attack +28%<br>Block +22%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
