<div class="container">
  <h4 class="mt-0 mb-1 text-center">Blade Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled merc-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a1/Mercenary_Blazing_Sword.png" style="width:32px;" alt="Blazing Sword">Blazing Sword</h6>
        <p class="card-text">Grants the user 5% Physical Attack and 10% Movement Speed for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f6/Mercenary_Sword_Mastery.png" style="width:32px;" alt="Sword Mastery">Sword Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c9/Mercenary_Smite_Axe.png" style="width:32px;" alt="Smite Axe">Smite Axe</h6>
        <p class="card-text">Grants the user 5% Max Health and 10% Movement Speed for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/83/Mercenary_Axe_Mastery.png" style="width:32px;" alt="Axe Mastery">Axe Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Sneaker</h6>
        <p class="card-text">Targeted enemy will recieve -50% Movement Speed for 2 seconds.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-merc-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Armor-Penetration-New.gif">
        <h6 class="card-title">Assult Strike</h6>
        <p class="card-text">Dash towards the enemy. Inflicts damage and also stun the target for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Battle-Shout-New.gif">
        <h6 class="card-title">Battle Shout</h6>
        <p class="card-text">Grants +20% Critical Damage to party members within 15 meters of teh caster for a duration of 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Flurry-Axe-New.gif">
        <h6 class="card-title">Flurry Axe</h6>
        <p class="card-text">Strikes multiple enemies in a 4 meter radius around the user.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Armor-Penetration-New.gif">
        <h6 class="card-title">Armor Penetration</h6>
        <p class="card-text">A brutal attack, penetrating the target's guard. Targeted enemy will recieve -10% Block Rate for 5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Axe-Rain-New.gif">
        <h6 class="card-title">Axe Rain</h6>
        <p class="card-text">Strikes the enemy, Also stuns the target for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Guillotine-New.gif">
        <h6 class="card-title">Guillotine</h6>
        <p class="card-text">Dash towards the target, damaging all enemies within 8 meters of the impact. Target recieves a -30% Movement Speed debuff and beginds bleeding. Also has a 25% chance to stun the enemy.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Arrogant-Destruction-New.gif">
        <h6 class="card-title">Arrogant Destruction</h6>
        <p class="card-text">Grants the user +4627 Physical Attack and +32% Damage Reduction for 12 seconds.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled merc-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeSuho.png" style="width:32px;">  Guardian Axe</p>
        <p>STR +14<br>Phys. Attack +4%<br>Critical Damage +14%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoSuho.png" style="width:32px;">  Guardian Sword</p>
        <p>DEX +14<br>Phys. Attack +4%<br>Critical Chance +6%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBla02Upper.png" style="width:32px;">  Einy/Akan</p>
        <p>STA +4<br>Max. HP +2%<br>STR +10</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeUsu.png" style="width:32px;">  Historic Axe</p>
        <p>STR +22<br>Phys. Attack +8%<br>Critical Damage +22%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoUsu.png" style="width:32px;">  Historic Sword</p>
        <p>DEX +22<br>Phys. Attack +8%<br>Critical Chance +14%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBla03Upper.png" style="width:32px;">  Dayst/Dest</p>
        <p>STA +8<br>Max. HP +5%<br>STR +16</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeAngel.png" style="width:32px;">  Angel Axe</p>
        <p>STR +30<br>Phys. Attack +12%<br>Critical Damage +30%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoAngel.png" style="width:32px;">  Angel Sword</p>
        <p>DEX +30<br>Phys. Attack +12%<br>Critical Chance +26%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBlaSet04Upper.png" style="width:32px;">  Hanes/Haganes</p>
        <p>STA +12<br>Max. HP +8%<br>STR +24</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeLegendG.png" style="width:32px;">  Legendary Golden Axe</p>
        <p>STR +38<br>Phys. Attack +16%<br>Critical Damage +38%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoLegendG.png" style="width:32px;">  Legendary Golden Sword</p>
        <p>DEX +38<br>Phys. Attack +16%<br>Critical Chance +40%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBlaSet03Upper.png" style="width:32px;">  Blain/Virain</p>
        <p>STA +16<br>Max. HP +11%<br>STR +32</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeBloody.png" style="width:32px;">  Bloody Axe</p>
        <p>STR +70<br>Phys. Attack +32%<br>Critical Damage +70%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoBloody.png" style="width:32px;">  Bloody Sword</p>
        <p>DEX +70<br>Phys. Attack +32%<br>Critical Chance +60%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBlaSet05Upper.png" style="width:32px;">  Noctis/Nox</p>
        <p>STA +29<br>Max. HP +20%<br>STR +54<br>Phys. Attack +11%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeCorpsemaker.png" style="width:32px;">  Corpsemaker Axe</p>
        <p>STR +94<br>Phys. Attack +46%<br>Critical Damage +94%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoCorpsemaker.png" style="width:32px;">  Corpsemaker Sword</p>
        <p>STR +94<br>Phys. Attack +46%<br>Phys. Attack +1800</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BladeCorpsemakerSuit.png" style="width:32px;">  Galliard's Corpsemaker</p>
        <p>STA +40<br>Max. HP +26%<br>STR +70<br>Phys. Attack +21%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Axe</p>
        <p>STR +126<br>Phys. Attack +66%<br>Critical Damage +126%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Sword</p>
        <p>STR +126<br>Phys. Attack +66%<br>Phys. Attack +4240</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BladeSoulreaverSuit.png" style="width:32px;">  [PvE] Galliard's Soulreaver</p>
        <p>STA +68<br>Max. HP +35%<br>STR +100<br>Phys. Attack +38%<br>Block +22%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 600px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaAxeSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Axe</p>
        <p>STR +126<br>Phys. Attack +56%<br>Critical Damage +126%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_WeaSwoSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Sword</p>
        <p>STR +126<br>Phys. Attack +56%<br>Critical Damage +134%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_BladeSoulreaverSuit.png" style="width:32px;">  [PvP] Galliard's Soulreaver</p>
        <p>STA +68<br>Max. HP +35%<br>STR +100<br>Phys. Attack +28%<br>Block +22%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
