<div class="container">
  <h4 class="mt-0 mb-1 text-center">Blade Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li><a href="#classic-skills">Classic Skills</a></li>
    <li><a href="#krona-exclusive-skills">Krona Exclusive Skills</a></li>
    <li><a href="#equipment-progression">Equipment Progression</a></li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a1/Mercenary_Blazing_Sword.png" style="width:32px;" alt="Blazing Sword">Blazing Sword</h6>
        <p class="card-text">Grants the user 5% Physical Attack and 10% Movement Speed for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f6/Mercenary_Sword_Mastery.png" style="width:32px;" alt="Sword Mastery">Sword Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c9/Mercenary_Smite_Axe.png" style="width:32px;" alt="Smite Axe">Smite Axe</h6>
        <p class="card-text">Grants the user 5% Max Health and 10% Movement Speed for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/83/Mercenary_Axe_Mastery.png" style="width:32px;" alt="Axe Mastery">Axe Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Sneaker</h6>
        <p class="card-text">Targeted enemy will recieve -50% Movement Speed for 2 seconds.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Armor-Penetration-New.gif">
        <h6 class="card-title">Assult Strike</h6>
        <p class="card-text">Dash towards the enemy. Inflicts damage and also stun the target for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Battle-Shout-New.gif">
        <h6 class="card-title">Battle Shout</h6>
        <p class="card-text">Grants +20% Critical Damage to party members within 15 meters of teh caster for a duration of 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Flurry-Axe-New.gif">
        <h6 class="card-title">Flurry Axe</h6>
        <p class="card-text">Strikes multiple enemies in a 4 meter radius around the user.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Armor-Penetration-New.gif">
        <h6 class="card-title">Armor Penetration</h6>
        <p class="card-text">A brutal attack, penetrating the target's guard. Targeted enemy will recieve -10% Block Rate for 5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Axe-Rain-New.gif">
        <h6 class="card-title">Axe Rain</h6>
        <p class="card-text">Strikes the enemy, Also stuns the target for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Guillotine-New.gif">
        <h6 class="card-title">Guillotine</h6>
        <p class="card-text">Dash towards the target, damaging all enemies within 8 meters of the impact. Target recieves a -30% Movement Speed debuff and beginds bleeding. Also has a 25% chance to stun the enemy.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Arrogant-Destruction-New.gif">
        <h6 class="card-title">Arrogant Destruction</h6>
        <p class="card-text">Grants the user +4627 Physical Attack and +32% Damage Reduction for 12 seconds.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p>Guardian Axe</p>
        <p>STR +14. Phys. Attack +4%, Critical Damage +14%</p>
        <p>Guardian Sword</p>
        <p>DEX +14. Phys. Attack +4%, Critical Chance +6%</p>
        <p>Einy/Akan</p>
        <p>STA +4. Max. HP +2%, STR +10</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p>Historic Axe</p>
        <p>STR +22. Phys. Attack +8%, Critical Damage +22%</p>
        <p>Historic Sword</p>
        <p>DEX +22. Phys. Attack +8%, Critical Chance +14%</p>
        <p>Dayst/Dest</p>
        <p>STA +8. Max. HP +5%, STR +16</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p>Angel Axe</p>
        <p>STR +30. Phys. Attack +12%, Critical Damage +30%</p>
        <p>Angel Sword</p>
        <p>DEX +30. Phys. Attack +12%, Critical Chance +26%</p>
        <p>Hanes/Haganes</p>
        <p>STA +12. Max. HP +8%, STR +24</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p>Legendary Golden Axe</p>
        <p>STR +38. Phys. Attack +16%, Critical Damage +38%</p>
        <p>Legendary Golden Sword</p>
        <p>DEX +38. Phys. Attack +16%, Critical Chance +40%</p>
        <p>Blain/Virain</p>
        <p>STA +16. Max. HP +11%, STR +32</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p>Bloody Axe</p>
        <p>STR +70. Phys. Attack +32%, Critical Damage +70%</p>
        <p>Bloody Sword</p>
        <p>DEX +70. Phys. Attack +32%, Critical Chance +60%</p>
        <p>Noctis/Nox</p>
        <p>STA +29. Max. HP +20%, STR +54, Phys. Attack +11%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p>Corpsemaker Axe</p>
        <p>STR +94. Phys. Attack +46%, Critical Damage +94%</p>
        <p>Corpsemaker Sword</p>
        <p>STR +94. Phys. Attack +46%, Phys. Attack +1800</p>
        <p>Galliard's Corpsemaker</p>
        <p>STA +40. Max. HP +26%, STR +70, Phys. Attack +21%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p>[PvE] Soulreaver Axe</p>
        <p>STR +126. Phys. Attack +66%, Critical Damage +126%</p>
        <p>[PvE] Soulreaver Sword</p>
        <p>STR +126. Phys. Attack +66%, Phys. Attack +4240</p>
        <p>[PvE] Galliard's Soulreaver</p>
        <p>STA +68. Max. HP +35%, STR +100, Phys. Attack +38%, Block +22%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 500px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p>[PvP] Soulreaver Axe</p>
        <p>STR +126. Phys. Attack +56%, Critical Damage +126%, PvP Damage +60%, PvE Damage -80%</p>
        <p>[PvP] Soulreaver Sword</p>
        <p>STR +126. Phys. Attack +56%, Critical Damage +134%, PvP Damage +60%, PvE Damage -80%</p>
        <p>[PvP] Galliard's Soulreaver</p>
        <p>STA +68. Max. HP +35%, STR +100, Phys. Attack +28%, Block +22%, PvP Damage +15%, PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
