<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Adrian Maznio">
	<title>Krona FlyFF · Wiki</title>

	<!-- Bootstrap core CSS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

	<script src="../../../../dashboard.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="../../../../dashboard.css" rel="stylesheet">
</head>

<body>
	<% include navbar_partial %>

	<div class="container-fluid">
		<div class="row">

			<% include sidebar_partial %>

			<!-- Start of main section -->
			<main role="main" class="col-md-9 ml-sm-auto col-md-10 px-4">

				<div class="row pt-3 pb-2 mb-3">

					<div class="mx-auto" style="width: 1200px;">
						<div class="container-fluid">
							<img style="width:200px; display: block; margin-left: auto; margin-right: auto;" src="https://i.imgur.com/RqZqLMZ.png">
							<h1 class="h2 text-center">Classes Guide</h1>
							<br>
							<h6 class="mt-0 mb-1 text-center">
								<small class="text-muted">Author: Adrian</small></h6>
							<h6 class="mt-0 mb-1 text-center">
								<small class="text-muted">Last updated: 2/3/2019</small></h6>

							<br>

							<div class="container-fluid">
								<div class="card-body mx-auto">
									<h5 class="mt-0 mb-1">Welcome to Krona!</h5>
									<p>
										This guide will teach you everything about the classes in Krona FlyFF.
										Unsure of what class to choose? No worries! After reading this guide you will have a better grasp of what class is best for your playstyle.
									</p>
									<p>
										Click on the tabs to switch between specific class guides.
									</p>
									<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-blade-tab" data-toggle="pill" href="#pills-blade" role="tab" aria-controls="pills-blade" aria-selected="true">Blade</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-knight-tab" data-toggle="pill" href="#pills-knight" role="tab" aria-controls="pills-knight" aria-selected="false">Knight</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-billposter-tab" data-toggle="pill" href="#pills-billposter" role="tab" aria-controls="pills-billposter" aria-selected="false">Billposter</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-ringmaster-tab" data-toggle="pill" href="#pills-ringmaster" role="tab" aria-controls="pills-ringmaster" aria-selected="false">Ringmaster</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-ranger-tab" data-toggle="pill" href="#pills-ranger" role="tab" aria-controls="pills-ranger" aria-selected="false">Ranger</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-jester-tab" data-toggle="pill" href="#pills-jester" role="tab" aria-controls="pills-jester" aria-selected="false">Jester</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-psykeeper-tab" data-toggle="pill" href="#pills-psykeeper" role="tab" aria-controls="pills-psykeeper" aria-selected="false">Psykeeper</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-elementor-tab" data-toggle="pill" href="#pills-elementor" role="tab" aria-controls="pills-elementor" aria-selected="false">Elementor</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-raider-tab" data-toggle="pill" href="#pills-raider" role="tab" aria-controls="pills-raider" aria-selected="false">Raider</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-legionaire-tab" data-toggle="pill" href="#pills-legionaire" role="tab" aria-controls="pills-legionaire" aria-selected="false">Legionaire</a>
										</li>
									</ul>
									<div class="tab-content guide-section" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-blade" role="tabpanel" aria-labelledby="pills-blade-tab">
											<div class="container">
												<h4 class="mt-0 mb-1 text-center">Blade Guide</h4>
												<p class="text-center">Table of Contents</p>
												<ul class="text-center">
													<li>Classic Skills</li>
													<li>Krona Exclusive Skills</li>
													<li>Equipment Progression</li>
													<li>How to Build a Blade</li>
													<li>Class Playstyle</li>
													<li>Closing Remarks</li>
												</ul>
											</div>
											<br>

											<div class="row">
												<h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
												<ul class="list-unstyled class-skills">
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a1/Mercenary_Blazing_Sword.png" style="width:32px;" alt="Blazing Sword">Blazing Sword</h6>
															<p class="card-text">Grants the user 5% Physical Attack for 15 minutes. Requires a sword.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f6/Mercenary_Sword_Mastery.png" style="width:32px;" alt="Blazing Sword">Sword Mastery</h6>
															<p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires a sword.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c9/Mercenary_Smite_Axe.png" style="width:32px;" alt="Smite Axe">Smite Axe</h6>
															<p class="card-text">Grants the user 5% Max Health for 15 minutes. Requires an axe.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/83/Mercenary_Axe_Mastery.png" style="width:32px;" alt="Axe Mastery">Axe Mastery</h6>
															<p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires an axe.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Sneaker</h6>
															<p class="card-text">Targeted enemy will recieve -50% Movement Speed for 2 seconds.</p>
														</div>
													</li>
												</ul>
											</div>

											<br>

											<div class="row">
												<h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
												<ul class="list-unstyled class-skills">
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a1/Mercenary_Blazing_Sword.png" style="width:32px;" alt="Blazing Sword">Assult Strike</h6>
															<p class="card-text">Dash towards the enemy. Inflicts damage and also stun the target for 0.5 seconds.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f6/Mercenary_Sword_Mastery.png" style="width:32px;" alt="Blazing Sword">Battle Shout</h6>
															<p class="card-text">Grants +20% Critical Damage to party members within 15 meters of teh caster for a duration of 15 minutes.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c9/Mercenary_Smite_Axe.png" style="width:32px;" alt="Smite Axe">Flurry Axe</h6>
															<p class="card-text">Strikes multiple enemies in a 4 meter radius around the user.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/83/Mercenary_Axe_Mastery.png" style="width:32px;" alt="Axe Mastery">Armor Penetration</h6>
															<p class="card-text">A brutal attack, penetrating the target's guard. Targeted enemy will recieve -10% Block Rate for 5 seconds.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Axe Rain</h6>
															<p class="card-text">Strikes the enemy, Also stuns the target for 0.5 seconds.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Gullotine</h6>
															<p class="card-text">Dash towards the target, damaging all enemies within 8 meters of the impact. Target recieves a -30% Movement Speed debuff and beginds bleeding. Also has a 25% chance to stun the enemy.</p>
														</div>
													</li>

													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Arrogant Destruction</h6>
															<p class="card-text">Grants the user +4627 Physical Attack and +32% Damage Reduction for 12 seconds.</p>
														</div>
													</li>
												</ul>
											</div>

											<br>
											<div class="row">
												<h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
												<ul class="list-unstyled gear-progession">
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 30</h6>
															<p>Guardian Axe</p>
															<p class="px-3">STR +14. Phys. Attack +4%, Critical Damage +14%</p>
															<p>Guardian Sword</p>
															<p class="px-3">DEX +14. Phys. Attack +4%, Critical Chance +6%</p>
															<p>Einy/Akan</p>
															<p class="px-3">STA +4. Max. HP +2%, STR +10</p>
														</div>
													</li>
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 60</h6>
															<p>Historic Axe</p>
															<p class="px-3">STR +22. Phys. Attack +8%, Critical Damage +22%</p>
															<p>Historic Sword</p>
															<p class="px-3">DEX +22. Phys. Attack +8%, Critical Chance +14%</p>
															<p>Dayst/Dest</p>
															<p class="px-3">STA +8. Max. HP +5%, STR +16</p>
														</div>
													</li>
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 90</h6>
															<p>Angel Axe</p>
															<p class="px-3">STR +30. Phys. Attack +12%, Critical Damage +30%</p>
															<p>Angel Sword</p>
															<p class="px-3">DEX +30. Phys. Attack +12%, Critical Chance +26%</p>
															<p>Hanes/Haganes</p>
															<p class="px-3">STA +12. Max. HP +8%, STR +24</p>
														</div>
													</li>
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 120</h6>
															<p>Legendary Golden Axe</p>
															<p class="px-3">STR +38. Phys. Attack +16%, Critical Damage +38%</p>
															<p>Legendary Golden Sword</p>
															<p class="px-3">DEX +38. Phys. Attack +16%, Critical Chance +40%</p>
															<p>Blain/Virain</p>
															<p class="px-3">STA +16. Max. HP +11%, STR +32</p>
														</div>
													</li>
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 150</h6>
															<p>Bloody Axe</p>
															<p class="px-3">STR +70. Phys. Attack +32%, Critical Damage +70%</p>
															<p>Bloody Sword</p>
															<p class="px-3">DEX +70. Phys. Attack +32%, Critical Chance +60%</p>
															<p>Noctis/Nox</p>
															<p class="px-3">STA +29. Max. HP +20%, STR +54, Phys. Attack +11%</p>
														</div>
													</li>
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 175 - Epic</h6>
															<p>Corpsemaker Axe</p>
															<p class="px-3">STR +94. Phys. Attack +46%, Critical Damage +94%</p>
															<p>Corpsemaker Sword</p>
															<p class="px-3">STR +94. Phys. Attack +46%, Phys. Attack +1800</p>
															<p>Galliard's Corpsemaker</p>
															<p class="px-3">STA +40. Max. HP +26%, STR +70, Phys. Attack +21%</p>
														</div>
													</li>
													<li class="card mx-2 my-2">
														<div class="card-body">
															<h6 class="card-title">Level 175 - Legendary</h6>
															<p>[PvE] Soulreaver Axe</p>
															<p class="px-3">STR +126. Phys. Attack +66%, Critical Damage +126%</p>
															<p>[PvE] Soulreaver Sword</p>
															<p class="px-3">STR +126. Phys. Attack +66%, Phys. Attack +4240</p>
															<p>[PvE] Galliard's Soulreaver</p>
															<p class="px-3">STA +68. Max. HP +35%, STR +100, Phys. Attack +38%, Block +22%</p>
														</div>
													</li>
													<li class="card mx-2 my-2" style="height: 500px;">
														<div class="card-body">
															<h6 class="card-title">Level 175 - Legendary</h6>
															<p>[PvP] Soulreaver Axe</p>
															<p class="px-3">STR +126. Phys. Attack +56%, Critical Damage +126%, PvP Damage +60%, PvE Damage -80%</p>
															<p>[PvP] Soulreaver Sword</p>
															<p class="px-3">STR +126. Phys. Attack +56%, Critical Damage +134%, PvP Damage +60%, PvE Damage -80%</p>
															<p>[PvP] Galliard's Soulreaver</p>
															<p class="px-3">STA +68. Max. HP +35%, STR +100, Phys. Attack +28%, Block +22%, PvP Damage +15%, PvE Damage -80%</p>
														</div>
													</li>
												</ul>
											</div>

										</div>
										<div class="tab-pane fade" id="pills-knight" role="tabpanel" aria-labelledby="pills-knight-tab">Dem</div>
										<div class="tab-pane fade" id="pills-billposter" role="tabpanel" aria-labelledby="pills-billposter-tab">Crowns</div>
										<div class="tab-pane fade" id="pills-ringmaster" role="tabpanel" aria-labelledby="pills-ringmaster-tab">...</div>
										<div class="tab-pane fade" id="pills-ranger" role="tabpanel" aria-labelledby="pills-ranger-tab">...</div>
										<div class="tab-pane fade" id="pills-jester" role="tabpanel" aria-labelledby="pills-jester-tab">...</div>
										<div class="tab-pane fade" id="pills-psykeeper" role="tabpanel" aria-labelledby="pills-psykeeper-tab">...</div>
										<div class="tab-pane fade" id="pills-elementor" role="tabpanel" aria-labelledby="pills-elementor-tab">...</div>
										<div class="tab-pane fade" id="pills-raider" role="tabpanel" aria-labelledby="pills-raider-tab">...</div>
										<div class="tab-pane fade" id="pills-legionaire" role="tabpanel" aria-labelledby="pills-legionaire-tab">...</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

		</div><!-- End Row -->
		</main><!-- End of main section -->





	</div> <!-- End of Row -->
	</div> <!-- End of Container -->


	<script>
		feather.replace();
		$("[data-toggle=popover]").each(function(i, obj) {

			$(this).popover({
				html: true,
				content: function() {
					var id = $(this).attr('id')
					return $('#popover-content-' + id).html();
				}
			});

		});
	</script>

</body>

</html>
