<div class="container">
  <h4 class="mt-0 mb-1 text-center">Elementor Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/2/29/Magician_Mental_Strike.png" style="width:32px;">Mental Strike</h6>
        <p class="card-text">Casts a basic ranged mental attack.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/1/11/Magician_Strongwind.png" style="width:32px;">Strongwind</h6>
        <p class="card-text">Casts a wind attack that pushes the target away.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/fd/Magician_Rooting.png" style="width:32px;">Rooting</h6>
        <p class="card-text">Restricts the target's movement for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/9/97/Elementor_Firebird.png" style="width:32px;">Firebird</h6>
        <p class="card-text">Damages the enemy with a fiery blast. Burns the target, inflicting damage eveery 2 seconds for 12 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/fd/Magician_Rooting.png" style="width:32px;">Windfield</h6>
        <p class="card-text">Casts a wind spell damaging all enemies near the target. Gives the target a debuff of -25% Movement Speed for 2 seconds.</p>
      </div>
    </li>

  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Elemental-Shield-New.gif">
        <h6 class="card-title">Elemental Shield</h6>
        <p class="card-text">Grants the user +10% Damage Reduction for 3 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Frost-Ring-New.gif">
        <h6 class="card-title">Frost Ring</h6>
        <p class="card-text">Casts a ring of ice around yourself, damaging enemies within 6 meters and snaring them for 1 second.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Ice-Missile-New.gif">
        <h6 class="card-title">Ice Missile</h6>
        <p class="card-text">Casts a basic ice spell on the enemy.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Blinkpool-New.gif">
        <h6 class="card-title">Blinkpool</h6>
        <p class="card-text">Casts a spell that teleports to your mouse position. After teleporting the user is granted +14% Magic Attack and +25% Movement Speed for 5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Meteor-Call-New.gif">
        <h6 class="card-title">Meteor Call</h6>
        <p class="card-text">Summons a meteor from the skies, dealing damage to everyone within 5 meters of the target and stunning them for 0.5 seconds.</p>
      </div>
    </li>

  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaSuho.png" style="width:32px;">  Guardian Staff</p>
        <p>INT +23<br>Magic Attack +11%<br>Casting Speed +22%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mEle02Upper.png" style="width:32px;">  Myuran/Myurian</p>
        <p>STA +2<br>Max. HP +2%<br>INT +17</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaUsu.png" style="width:32px;">  Historic Staff</p>
        <p>INT +31<br>Magic Attack +15%<br>Casting Speed +23%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mEle03Upper.png" style="width:32px;">  Elder/Ellean</p>
        <p>STA +6<br>Max. HP +4%<br>INT +25</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaAngel.png" style="width:32px;">  Angel Staff</p>
        <p>INT +39<br>Magic Attack +19%<br>Casting Speed +25%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mEleSet04Upper.png" style="width:32px;">  Shabel/Shurian</p>
        <p>STA +10<br>Max. HP +6%<br>INT +33</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaLegendG.png" style="width:32px;">  Legendary Golden Staff</p>
        <p>INT +47<br>Magic Attack +23%<br>Casting Speed +27%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mEleSet03Upper.png" style="width:32px;">  Ellist/Ellsis</p>
        <p>STA +14<br>Max. HP +8%<br>INT +41</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaBloody.png" style="width:32px;">  Bloody Staff</p>
        <p>INT +79<br>Magic Attack +39%<br>Casting Speed +36%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mEleSet05Upper.png" style="width:32px;">  Nanemvis</p>
        <p>STA +27<br>Max. HP +17%<br>INT +65<br>Magic Attack +13%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaCorpsemaker.png" style="width:32px;">  Corpsemaker Staff</p>
        <p>INT +103<br>Magic Attack +53%<br>Casting Speed +44%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_EleCorpsemakerSuit.png" style="width:32px;">  Merlin's Corpsemaker</p>
        <p>STA +38<br>Max. HP +23%<br>INT +83<br>Magic Attack +23%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Wand</p>
        <p>INT +135<br>Magic Attack +75%<br>Casting Speed +56%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_EleSoulreaverSuit.png" style="width:32px;">  [PvE] Merlin's Soulreaver</p>
        <p>STA +64<br>Max. HP +32%<br>INT +115<br>Magic Attack +40%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaStaSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Wand</p>
        <p>INT +135<br>Magic Attack +65%<br>Casting Speed +56%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_EleSoulreaverSuit.png" style="width:32px;">  [PvP] Merlin's Soulreaver</p>
        <p>STA +64<br>Max. HP +32%<br>INT +115<br>Magic Attack +30%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
