<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Adrian Maznio">
	<title>Krona FlyFF· Wiki</title>

	<!-- Bootstrap core CSS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

	<script src="../../../../dashboard.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="../../../../dashboard.css" rel="stylesheet">
</head>

<body>
	<% include navbar_partial %>

	<div class="container-fluid">
		<div class="row">

			<% include sidebar_partial %>

			<!-- Start of main section -->
			<main role="main" class="col-md-9 ml-sm-auto col-md-10 px-4">

				<div class="row pt-3 pb-2 mb-3">

					<div class="mx-auto" style="width: 1200px;">
						<div class="container-fluid">
							<img style="width:200px; display: block; margin-left: auto; margin-right: auto;" src="https://i.imgur.com/RqZqLMZ.png">
							<h1 class="h2 text-center">Endgame Guide
							</h1>
							<br>
							<h6 class="mt-0 mb-1 text-center">
								<small class="text-muted">Author: Adrian
								</small></h6>
							<h6 class="mt-0 mb-1 text-center">
								<small class="text-muted">Last updated: 2/18/2019
								</small></h6>
							<br>
							<div class="container-fluid">
								<div class="card-body mx-auto">
									<ul class="list-unstyled">
										<li class="media my-4">
											<!-- <img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;"> -->
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">What do I do now?!</h5>
												<p>
													Congratulations for reaching max level! This is where the real fun starts! This guide will teach you what you should do after reaching level 175.
												</p>
												<p>
													Firstly, I would suggest trying to get your 175 Equipment.
													Either buy the Armor Parts and Weapon from players (shouldn't be too expensive unless you are a Raider) or find a team to run Goldflower Temple.
													Once you have your full set and weapon, begin upgrading it. Level 175 Equipment uses the new exclusive <a href="/guide/everpower">Everpower Upgrade System</a>.
													The Everpower Upgrade system requires <img class="mx-1" src="/images/Icons/Itm_SysShredsOfPower.png">Shreds of Power, and some form of <img class="mx-1" src="/images/Icons/Itm_SysEverdust.png">Everdust.
													To obtain Shreds of Power you must go to Frostwind and kill the giants there. They drop Shreds of Power and <img class="mx-1" src="/images/Icons/Itm_SysCraftAstralPowder.png">Astral Powder. Astral Powder is used in crafting Insignias and I will get into that later.
													There are 4 different versions of Everdust. Everdust is used to upgrade 175 Equipment from +0 to +10. Arcane Everdust is used to upgrade 175 Equipment from +11 to +20. Ethereal Everdust gives a better success rate than both Everdust an Arcane Everdust and can be used from +0 to +20. Divine Everdust has the highest success rate and can also be used from +0 to +20.
													Everdust and Arcane Everdust can be obtained in 3 dungeons: Hillid Mountains, Icy Caverns, and Temple of Catan. Hillid Mountains and Icy Caverns are mainly where you obtain all the materials for Everpower Upgrading. Temple of Catan also drops the materials, but in a lower quantity.
													Read the <a href="/guide/everpower">Everpower Upgrade Guide</a> to learn more about it.
												</p>
												<p>
													Farming Hillid Mountains and Icy Caverns every day may seem rough at first, but it will get better with time. Everyone starts out somewhere. Make sure you run them 3 times each every day. The Dungeon Entries reset at 00:00 Server Time.
													You can see your remaining Dungeon Entries by pressing 'H'. Another dungeon to run every day is Colosseum. It has an easy and hard mode. This dungeon has 4 entries per day, and is mainly farmed for the <img class="mx-1" src="/images/Icons/Itm_SysPowerbinds.png"> Powerbinds. Powerbinds are explained in further detailed in the Everpower Guide.
													You can start seeing a trend already. There are plenty of dungeons to run by yourself every day. Players call these "Dailies". After running all your dailies you should get about 10-15p per day from just the penya loot. That adds up quickly and gives you some money to upgrade with.
												</p>
											</div>
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Onima Accessories</h5>
												<p>
													You may be wondering, "I know how to obtain 175 Equipment, but what Accessories can I obtain?" There are the Accessories that drop from Giants and World Bosses, and there are the endgame jewelry that you can craft. They are called Onima Accessories. There are three tiers of Onima Accessories.
													The <a href="/guide/crafting">Crafting Guide</a> has a list of the materials required to craft each piece. You can go to the Crafting NPC [Crafting] Ugoki in Central Flarine to open the Crafting Menu and see the exact recipes.
													Onima's Cave drops the materials for Onima Accesories. There is a Solo mode and a Team mode. The Solo mode drops a lesser quantity than the Team mode. Once you are strong enough you should start to run Solo Onima's Cave. Maybe if you're lucky, a team will invite you to the Team mode.
													Many players sell the materials at fairly inexpensive prices, so at first it may be faster to craft Onima Accesories by buying materials off of players.
													<br>
													In order to upgrade Onima Accesories you will need to use <img class="mx-1" src="/images/Icons/Itm_GenMatOrichalcum02.png">Shining Oricalkums and <img class="mx-1" src="/images/Icons/Itm_SysSysScrSmelprot4.png">Scrolls of AProtect. Shining Oricalkum can be farmed at Whimsical Forest. The Giants there drop them.
												</p>
											</div>
											<!-- <img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;"> -->
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Insignias</h5>
												<p>
													Remember when I mentioned <img class="mx-1" src="/images/Icons/Itm_SysCraftAstralPowder.png">Astral Powder was used for crafting <img class="mx-1" src="/images/Icons/Item_SysAstrlGoddessInsignia02.png">Insignias? Well, I'll go into detail about that in this section. There are Tier 1 Insignias and Tier 2 Insignias. They are items that you insert into the 'H' window and they give you permanant stat bonuses. You can remove them but you cannot trade them. They are account bound once you insert them.
													Insignias are crafted using materials obtained from the dungeon Faymarsh Peak. Faymarsh Peak also has a Solo mode and a Team mode. The Solo mode gives 1/3 of the quantity of materials as the Team mode, so once you are strong enough to be accepted into Team runs, I suggest running this dungeon as a team as often as possible. If you cannot find a team in time before Dungeon Entry Reset time (00:00 Server Time), then go ahead and do the Solo mode.
													The <a href="/guide/crafting">Crafting Guide</a> has a list of the materials required to craft Insignias if you want to see for yourself. Each Tier 1 Insignia has the same recipe, and Tier 2 Insignias also have the same recipe.
												</p>
											</div>
											<!-- <img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;"> -->
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">eFlyFF Dungeons and v18 Dungeons</h5>
												<p>
												For as nice and custom as Krona is, the nostalgic dungeons are still here!
												Players refer to Cursed Aminus, Ankou's Asylum, and The Savage Wilds as the eFlyFF dungeons, while Euphresia the Island of Dreams, Abyssal Cove of the Ancients, and Les Brittania S are the v18 Dungeons.
												The v18 Dungeons <strong>ONLY</strong> have a Solo mode and a Team mode (<strong>NOT</strong> the eFlyFF dungeons). If you can't find a team before Dungeon Entries reset (00:00 Server Time) then go ahead and run the Solo mode!
												Each of these drop Epic Brooches and Relics, Red Beads, Nostalgic Fashion Sets, and Statted Cloaks and Statted Sets.
												Statted Cloaks and Statted Sets are the big prize here. They are the rarest, and most expensive. If you want to gear your character to the max, you will definitely need them.
												Clean Statted Cloaks can sell for 600 Perin to 800 Perin, depending on the desperation of the buyer or seller.
												Clean Statted Set can sell for 300 perin to 600 Perin, depending on the desperation of the buyer or seller.
												</p>
											</div>
											<!-- <img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;"> -->
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">How do I earn Perin?</h5>
												<p>
													You may be thinking, "All of this sounds expensive and I don't have the money." Well, I'll explain a few methods of earning Perin.
													<br><br>
													The first method is simply farming Sengius Forest. The monsters are all level 175, and all have the same HP. So it does not matter where you farm, choose a spot that works for you. They drop 1x <img class="mx-1" src="/images/Icons/Itm_SysSysMythicalFaeCoin.png"> Mythical Fae Coin, Sunstones, Moonstones, A/7% Cards, and <img class="mx-1" src="/images/Icons/Itm_SysSysMasquerpetCoin.png">Masquerpet Coins. You can earn anywhere from 10 Perin to 15 Perin per hour in pure penya loot. You can sell the Mythical Fae Coins for about 350k-400k each right now or save them and buy a Spirit. Masquerpet Coins sell for around 550k-600k each. Convert the Sunstones and Moonstones at Peach to make Shining Oricalkums. Either use them or sell them for about 15m-18m each.
													This method will probably be the best early on.
													<br><br>
													The next method is farming Frostwind for Shreds of Power and Astral Powder. Right now Shreds of Power can sell for about 400k each and Astral Powder can sell for about 3m each.
													Now this method is only recommended if you are geared enough to kill giants faster than you can AoE in Sengius Forest. On a well geared character, expect to farm about 4 Perin worth of Shreds of Power and  about 30 Perin worth of Astral Powder per hour. The better the gear, the better the Perin.
													<br><br>
													Whimsical Forest can also be a good place to farm. The giants there drop Shining Oricalkum and x8 Mythical Fae Coins per kill. Shining Oricalkum sell for about 15m to 18m. Mythical Fae Coins sell for about 350k-400k each.
													<br><br>
													Of course you should be doing your daily solo dungeons. This consists of 4x Colosseum, 3x Temple of Catan, 3x Hillid Mountains, 3x Icy Caverns. From just pure penya loot, you should be getting 10-15 Perin per day from this in addition to the extra drops.
													You can sell the Everdust, Arcane Everdust, Power Serum, and Powerbinds for quite a nice sum of Perin too. Prices on these fluctuate a lot so keep an eye out for the current market prices.
													<br><br>
													Running Onima's Cave can be quite lucrative, but it relies on luck. There are 4 very expensive drops: Eva's Sinister Ring, Eva's Heart, Eva's Harp, and Eva's Soul. Each of these can sell for 200 Perin to 500 Perin. They are rare drops, and more than likely you will need them yourself. Decide for yourself, wether you want to keep or sell it, but this section is about earning Perin so of course I will advocate to sell it in this section. That's a lot of Perin!
													<br><br>
													Running Faymarsh Peak can also get you some Perin, but relies more on the market of buyers. You can sell sets of Insignia Materials (36x of each material not including the Astral Powder required). Currently, Tier 2 Insignia Material Sets sell for about 75 Perin.
													<br><br>
													Disclaimer: These methods all give you materials and items that you need to upgrade your gear, so you may not want to sell them. You can choose to sell the materials and items if you no longer have a need for them and want to make a profit.
												</p>
											</div>
											<!-- <img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;"> -->
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Important Guides and Resources!</h5>
												<p>
													<ul>
														<li><a href="/guide/everpower">Everpower Guide</a></li>
														<li><a href="/guide/crafting">Crafting Guide</a></li>
														<li><a href="/guide/spirits">Spirits Guide</a></li>
														<li><a href="/guide/awakes">Awakening/Blessing Tables</a></li>
													</ul>
												</p>
											</div>
											<!-- <img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;"> -->
										</li><!-- End Section-->


									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>

		</div><!-- End Row -->
		</main><!-- End of main section -->





	</div> <!-- End of Row -->
	</div> <!-- End of Container -->


	<script>
		feather.replace();
		$("[data-toggle=popover]").each(function(i, obj) {

			$(this).popover({
				html: true,
				content: function() {
					var id = $(this).attr('id')
					return $('#popover-content-' + id).html();
				}
			});

		});
	</script>

</body>

</html>
