<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Adrian Maznio">
	<title>Adrian · Wiki</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="dashboard.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Adrian · Wiki</a>
		<!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="#">Sign in</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="row">


			<!-- Start of Navigation Side Bar -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Character</span>
					</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/character/items/weapons">
								<i class="fas fa-shield-alt"></i>
								Weapons
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/character/items/armor">
								<i class="fas fa-shield-alt"></i>
								Armor
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/character/items/fashion">
								<i class="fas fa-tshirt"></i>
								Fashion
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/character/items/jewelry">
								<i class=" fas fa-ring"></i>
								Jewelry
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Dashboard</span>
					</h6>
					<!-- <a class="d-flex align-items-center text-muted" href="#">
						<span data-feather="plus-circle"></span>
					</a> -->
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="/dashboard/items">
								<i class="fas fa-wrench"></i>
								Manage Items
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fas fa-wrench"></i>
								Add something else
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End of Navigation Side Bar -->



			<!-- Start of main section -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Welcome to Adrian · Wiki!</h1>
				</div><!-- End Main Title-->
				<div class="row pt-3 pb-2 mb-3">

					<div class="col-sm-3">
						<div class="card card-body bg-light">
							<div class="card-body">
								<h2 class="card-title">Welcome!</h2>
								<p class="card-text">This is a new wiki which aims to be more efficient to manage.</p>
							</div>
							<div class="card-body">
								<a href="#" class="btn btn-primary">View full post</a>
							</div>
						</div>
					</div>
				</div><!-- End Row -->
			</main><!-- End of main section -->





		</div> <!-- End of Row -->
	</div> <!-- End of Container -->


	<script>
		feather.replace()
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>
		window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="dashboard.js"></script>
</body>

</html>