<div class="container">
  <h4 class="mt-0 mb-1 text-center">Jester Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/2/2c/Acrobat_Cross_Line.png" style="width:32px;">Crossline</h6>
        <p class="card-text">Fire mulitple arrows wildly.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c8/Acrobat_Yo-Yo_mastery.png" style="width:32px;">Yo-Yo Mastery</h6>
        <p class="card-text">Grants the user +5% Physical Attack for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/d/dc/Acrobat_Fast_Walker.png" style="width:32px;">Fast Walker</h6>
        <p class="card-text">Grants the user +35% Movement Speed for 13 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c3/Acrobat_Dark_Illusion.png" style="width:32px;">Dark Illusion</h6>
        <p class="card-text">Grants the user invisibility for 10 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/6/69/Acrobat_Slow_Step.png" style="width:32px;">Slow Step</h6>
        <p class="card-text">Grants the user +15% Block Rate for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/7/74/Acrobat_Pulling.png" style="width:32px;">Pulling</h6>
        <p class="card-text">Blocks the next melee attack recieved. Has a small chance of stunning the attacker.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/0/0d/Acrobat_Perfect_Block.png" style="width:32px;">Perfect Block</h6>
        <p class="card-text">Grants the user +20% Critical Damage for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f7/Acrobat_Counter_Attack.png" style="width:32px;">Counter Attack</h6>
        <p class="card-text">Silences the target for 3 seconds preventing them from using any skills.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f8/Jester_Critical_Swing.png" style="width:32px;">Critical Swing</h6>
        <p class="card-text">Silences the target for 3 seconds preventing them from using any skills.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/1/18/Jester_Penya_Strike.png" style="width:32px;">Hit of Penya</h6>
        <p class="card-text">Silences the target for 3 seconds preventing them from using any skills.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Stab-Dance-New.gif">
        <h6 class="card-title">Stab Dance</h6>
        <p class="card-text">Damages surrounding enemies within 4 meters.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Lost-Dance-New.gif">
        <h6 class="card-title">Lost Dance</h6>
        <p class="card-text">Devastatingly strikes the target, stunning them for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Strangle-New.gif">
        <h6 class="card-title">Strangle</h6>
        <p class="card-text">Powerfully strikes the target. Only castable while invisible.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Enchant-Poison-New.gif">
        <h6 class="card-title">Enchant Poison</h6>
        <p class="card-text">Attacks have a 10% chance to cause a Poison debuff on the target, dealing damage every 2 seconds for 10 seconds. Poisoned targets sugger -10% Physical Defense.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Vendetta-New.gif">
        <h6 class="card-title">Vendetta</h6>
        <p class="card-text">Powerful blow to a target, dealing daage and then causing the target to take 40% of the original damage every 3 second for 6 seconds.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoySuho.png" style="width:32px;">  Guardian Yo-Yo</p>
        <p>STR +33<br>Phys. Attack +14%<br>Critical Chance +10%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mJst02Upper.png" style="width:32px;">  Katria/Kanarin</p>
        <p>STA +4<br>Max. HP +2%<br>STR +25</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoyUsu.png" style="width:32px;">  Historic Yo-Yo</p>
        <p>STR +41<br>Phys. Attack +18%<br>Critical Chance +12%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mJst03Upper.png" style="width:32px;">  Restra/Rasra</p>
        <p>STA +8<br>Max. HP +4%<br>STR +33</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoyAngel.png" style="width:32px;">  Angel Yo-Yo</p>
        <p>STR +49<br>Phys. Attack +22%<br>Critical Chance +14%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mJstSet04Upper.png" style="width:32px;">  Neis/Nein</p>
        <p>STA +12<br>Max. HP +6%<br>STR +41</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoyLegendG.png" style="width:32px;">  Legendary Golden Yo-Yo</p>
        <p>STR +57<br>Phys. Attack +26%<br>Critical Chance +17%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mJstSet03Upper.png" style="width:32px;">  Jesis/Jenes</p>
        <p>STA +16<br>Max. HP +8%<br>STR +49</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoyBloody.png" style="width:32px;">  Bloody Yo-Yo</p>
        <p>STR +89<br>Phys. Attack +42%<br>Critical Chance +26%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mJstSet05Upper.png" style="width:32px;">  Velox</p>
        <p>STA +29<br>Max. HP +17%<br>STR +73<br>Phys. Attack +16%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoyCorpsemaker.png" style="width:32px;">  Corpsemaker Yo-Yo</p>
        <p>STR +113<br>Phys. Attack +56%<br>Critical Chance +34%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RangerCorpsemakerSuit.png" style="width:32px;">  Geraint's Corpsemaker</p>
        <p>STA +40<br>Max. HP +23%<br>STR +91<br>Phys. Attack +26%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoySoulreaver.png" style="width:32px;">  [PvE] Soulreaver Yo-Yo</p>
        <p>STR +145<br>Phys. Attack +78%<br>Critical Chance +46%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_JesterSoulreaverSuit.png" style="width:32px;">  [PvE] Geraint's Soulreaver</p>
        <p>STA +66<br>Max. HP +32%<br>STR +123<br>Phys. Attack +43%<br>Block +5%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaYoySoulreaver.png" style="width:32px;">  [PvP] Soulreaver Yo-Yo</p>
        <p>STR +145<br>Phys. Attack +68%<br>Critical Chance +46%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_JesterSoulreaverSuit.png" style="width:32px;">  [PvP] Geraint's Soulreaver</p>
        <p>STA +66<br>Max. HP +32%<br>STR +123<br>Phys. Attack +33%<br>Block +5%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
