<div class="container">
  <h4 class="mt-0 mb-1 text-center">Knight Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li><a href="#classic-skills">Classic Skills</a></li>
    <li><a href="#krona-exclusive-skills">Krona Exclusive Skills</a></li>
    <li><a href="#equipment-progression">Equipment Progression</a></li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a1/Mercenary_Blazing_Sword.png" style="width:32px;" alt="Blazing Sword">Blazing Sword</h6>
        <p class="card-text">Grants the user 5% Physical Attack and 10% Movement Speed for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f6/Mercenary_Sword_Mastery.png" style="width:32px;" alt="Sword Mastery">Sword Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c9/Mercenary_Smite_Axe.png" style="width:32px;" alt="Smite Axe">Smite Axe</h6>
        <p class="card-text">Grants the user 5% Max Health and 10% Movement Speed for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/83/Mercenary_Axe_Mastery.png" style="width:32px;" alt="Axe Mastery">Axe Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Sneaker</h6>
        <p class="card-text">Targeted enemy will recieve -50% Movement Speed for 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/e/e0/Knight_Guard.png" style="width:32px;" alt="Guard">Guard</h6>
        <p class="card-text">Grants the user +25% Max Health and -25% Physical Attack for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c4/Knight_Rage.png" style="width:32px;" alt="Rage">Rage</h6>
        <p class="card-text">Grants the user +25% Physical Attack, +35% Damage, -25% Defense, and -25% Max Health for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/6/6b/Knight_Earth_Divider.png" style="width:32px;" alt="Earth Divider">Earth Divider</h6>
        <p class="card-text">Powerful downward strike that hits the monsters in front of the user. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/4/4a/Knight_Power_Stomp.png" style="width:32px;" alt="Power Stomp">Power Stomp</h6>
        <p class="card-text">Pounds the ground dealing damage to surrounding enemies. Has a 15% chance to stun for 15 seconds. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/87/Knight_Pain_Reflection.png" style="width:32px;" alt="Pain Reflection">Pain Reflection</h6>
        <p class="card-text">Grants the user a buff that reflects 20% of damage receved to attacker for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/aa/Knight_Power_Swing.png" style="width:32px;" alt="Power Swing">Power Swing</h6>
        <p class="card-text">Deal damage to enemies surrounding the user and pushes them away.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/8f/Knight_Pain_Dealer.png" style="width:32px;" alt="Pain Dealer">Pain Dealer</h6>
        <p class="card-text">Powerful downward strike on the target inflicting damage and causing a debuff +20% Damage Recieved for 3 seconds. Requires an axe.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Glory-Star-New.gif">
        <h6 class="card-title">Glory Star</h6>
        <p class="card-text">Grants the user +6050 Physical Attack and +25% Movement Speed for 12 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Repel-Hit-New.gif">
        <h6 class="card-title">Repel Hit</h6>
        <p class="card-text">Attack the target then dash 8 meters backwards. Target receives a -20% Movement Speed Debuff for 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Rising-Shield-New.gif">
        <h6 class="card-title">Rising Shield</h6>
        <p class="card-text">Ranged Attack.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Sacrifice-New.gif">
        <h6 class="card-title">Sacrifice</h6>
        <p class="card-text">Enemies within 12 meters are granted a debuff of -10% Attack for 10 seconds. Also draws Aggro.</p>
      </div>
    </li>

  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p>Guardian Axe</p>
        <p>STR +14. Phys. Attack +4%, Critical Damage +14%</p>
        <p>Guardian Sword</p>
        <p>DEX +14. Phys. Attack +4%, Critical Chance +6%</p>
        <p>Einy/Akan</p>
        <p>STA +4. Max. HP +2%, STR +10</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p>Historic Axe</p>
        <p>STR +22. Phys. Attack +8%, Critical Damage +22%</p>
        <p>Historic Sword</p>
        <p>DEX +22. Phys. Attack +8%, Critical Chance +14%</p>
        <p>Dayst/Dest</p>
        <p>STA +8. Max. HP +5%, STR +16</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p>Angel Axe</p>
        <p>STR +30. Phys. Attack +12%, Critical Damage +30%</p>
        <p>Angel Sword</p>
        <p>DEX +30. Phys. Attack +12%, Critical Chance +26%</p>
        <p>Hanes/Haganes</p>
        <p>STA +12. Max. HP +8%, STR +24</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p>Legendary Golden Axe</p>
        <p>STR +38. Phys. Attack +16%, Critical Damage +38%</p>
        <p>Legendary Golden Sword</p>
        <p>DEX +38. Phys. Attack +16%, Critical Chance +40%</p>
        <p>Blain/Virain</p>
        <p>STA +16. Max. HP +11%, STR +32</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p>Bloody Axe</p>
        <p>STR +70. Phys. Attack +32%, Critical Damage +70%</p>
        <p>Bloody Sword</p>
        <p>DEX +70. Phys. Attack +32%, Critical Chance +60%</p>
        <p>Noctis/Nox</p>
        <p>STA +29. Max. HP +20%, STR +54, Phys. Attack +11%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p>Corpsemaker Axe</p>
        <p>STR +94. Phys. Attack +46%, Critical Damage +94%</p>
        <p>Corpsemaker Sword</p>
        <p>STR +94. Phys. Attack +46%, Phys. Attack +1800</p>
        <p>Galliard's Corpsemaker</p>
        <p>STA +40. Max. HP +26%, STR +70, Phys. Attack +21%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p>[PvE] Soulreaver Axe</p>
        <p>STR +126. Phys. Attack +66%, Critical Damage +126%</p>
        <p>[PvE] Soulreaver Sword</p>
        <p>STR +126. Phys. Attack +66%, Phys. Attack +4240</p>
        <p>[PvE] Galliard's Soulreaver</p>
        <p>STA +68. Max. HP +35%, STR +100, Phys. Attack +38%, Block +22%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 500px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p>[PvP] Soulreaver Axe</p>
        <p>STR +126. Phys. Attack +56%, Critical Damage +126%, PvP Damage +60%, PvE Damage -80%</p>
        <p>[PvP] Soulreaver Sword</p>
        <p>STR +126. Phys. Attack +56%, Critical Damage +134%, PvP Damage +60%, PvE Damage -80%</p>
        <p>[PvP] Galliard's Soulreaver</p>
        <p>STA +68. Max. HP +35%, STR +100, Phys. Attack +28%, Block +22%, PvP Damage +15%, PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
