<div class="container">
  <h4 class="mt-0 mb-1 text-center">Knight Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li><a href="#classic-skills">Classic Skills</a></li>
    <li><a href="#krona-exclusive-skills">Krona Exclusive Skills</a></li>
    <li><a href="#equipment-progression">Equipment Progression</a></li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/a1/Mercenary_Blazing_Sword.png" style="width:32px;" alt="Blazing Sword">Blazing Sword</h6>
        <p class="card-text">Grants the user 5% Physical Attack and 10% Movement Speed for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f6/Mercenary_Sword_Mastery.png" style="width:32px;" alt="Sword Mastery">Sword Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c9/Mercenary_Smite_Axe.png" style="width:32px;" alt="Smite Axe">Smite Axe</h6>
        <p class="card-text">Grants the user 5% Max Health and 10% Movement Speed for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/83/Mercenary_Axe_Mastery.png" style="width:32px;" alt="Axe Mastery">Axe Mastery</h6>
        <p class="card-text">Grants the user 15% Attack Speed and 15% Critical Chance for 15 minutes. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Mercenary_Sneaker.png" style="width:32px;" alt="Sneaker">Sneaker</h6>
        <p class="card-text">Targeted enemy will recieve -50% Movement Speed for 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/e/e0/Knight_Guard.png" style="width:32px;" alt="Guard">Guard</h6>
        <p class="card-text">Grants the user +25% Max Health and -25% Physical Attack for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c4/Knight_Rage.png" style="width:32px;" alt="Rage">Rage</h6>
        <p class="card-text">Grants the user +25% Physical Attack, +35% Damage, -25% Defense, and -25% Max Health for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/6/6b/Knight_Earth_Divider.png" style="width:32px;" alt="Earth Divider">Earth Divider</h6>
        <p class="card-text">Powerful downward strike that hits the monsters in front of the user. Requires a sword.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/4/4a/Knight_Power_Stomp.png" style="width:32px;" alt="Power Stomp">Power Stomp</h6>
        <p class="card-text">Pounds the ground dealing damage to surrounding enemies. Has a 15% chance to stun for 15 seconds. Requires an axe.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/87/Knight_Pain_Reflection.png" style="width:32px;" alt="Pain Reflection">Pain Reflection</h6>
        <p class="card-text">Grants the user a buff that reflects 20% of damage receved to attacker for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/aa/Knight_Power_Swing.png" style="width:32px;" alt="Power Swing">Power Swing</h6>
        <p class="card-text">Deal damage to enemies surrounding the user and pushes them away.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/8f/Knight_Pain_Dealer.png" style="width:32px;" alt="Pain Dealer">Pain Dealer</h6>
        <p class="card-text">Powerful downward strike on the target inflicting damage and causing a debuff +20% Damage Recieved for 3 seconds. Requires an axe.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Glory-Star-New.gif">
        <h6 class="card-title">Glory Star</h6>
        <p class="card-text">Grants the user +6050 Physical Attack and +25% Movement Speed for 12 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Repel-Hit-New.gif">
        <h6 class="card-title">Repel Hit</h6>
        <p class="card-text">Attack the target then dash 8 meters backwards. Target receives a -20% Movement Speed Debuff for 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Rising-Shield-New.gif">
        <h6 class="card-title">Rising Shield</h6>
        <p class="card-text">Ranged Attack.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/Sacrifice-New.gif">
        <h6 class="card-title">Sacrifice</h6>
        <p class="card-text">Enemies within 12 meters are granted a debuff of -10% Attack for 10 seconds. Also draws Aggro.</p>
      </div>
    </li>

  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body guide-section">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom">Guardian Ambidextrous Axe</p>
        <p>STR +10<br>Phys. Attack +4%<br>Physical Attack +80</p>

        <p class="border-bottom">Guardian Big Sword</p>
        <p>DEX +10<br>Phys. Attack +4%<br>Critical Damage +6%</p>

        <p class="border-bottom">Warpon/Warspon</p>
        <p>STA +8<br>Max. HP +3%<br>STR +5</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom">Historic Ambidextrous Axe</p>
        <p>STR +16<br>Phys. Attack +8%<br>Physical Attack +230</p>
        <p class="border-bottom">Historic Big Sword</p>
        <p>DEX +16<br>Phys. Attack +8%<br>Critical Damage +11%</p>
        <p class="border-bottom">Wees/Weeshian</p>
        <p>STA +14<br>Max. HP +7%<br>STR +10</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom">Angel Ambidextrous Axe</p>
        <p>STR +22<br>Phys. Attack +12%<br>Physical Attack +560</p>
        <p class="border-bottom">Angel Big Sword</p>
        <p>DEX +22<br>Phys. Attack +12%<br>Critical Damage +16%</p>
        <p class="border-bottom">Ectro/Extro</p>
        <p>STA +20<br>Max. HP +11%<br>STR +15</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom">Legendary Big Golden Axe</p>
        <p>STR +28<br>Phys. Attack +16%<br>Physical Attack +560</p>
        <p class="border-bottom">Legendary Golden Big Sword</p>
        <p>DEX +28<br>Phys. Attack +16%<br>Critical Damage +22%</p>
        <p class="border-bottom">Knighert/Knghz</p>
        <p>STA +27<br>Max. HP +15%<br>STR +20</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom">Bloody Two-Handed Axe</p>
        <p>STR +50<br>Phys. Attack +28%<br>Physical Attack +1340</p>
        <p class="border-bottom">Bloody Slayer</p>
        <p>DEX +50<br>Phys. Attack +28%<br>Critical Damage +43%</p>
        <p class="border-bottom">Cruentus</p>
        <p>STA +48<br>Max. HP +27%<br>STR +37<br>Phys. Attack +8%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaAxtCorpsemaker.png" style="width:32px;">Corpsemaker Cleaver</p>
        <p>STR +72<br>Phys. Attack +36%<br>Physical Attack +1790</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaSwtCorpsemaker.png" style="width:32px;">Corpsemaker Slayer</p>
        <p>DEX +72<br>Phys. Attack +36%<br>Critical Damage +43%</p>
        <p class="border-bottom">Dagonets's Corpsemaker</p>
        <p>STA +63<br>Max. HP +35%<br>STR +50<br>Phys. Attack +18%<br>Block +10%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom">[PvE] Soulreaver Cleaver</p>
        <p>STR +106<br>Phys. Attack +50%<br>Phys. Attack +2720</p>
        <p class="border-bottom">[PvE] Soulreaver Slayer</p>
        <p>DEX +106<br>Phys. Attack +50%<br>Critical Damage +108%</p>
        <p class="border-bottom">[PvE] Dagonet's Soulreaver</p>
        <p>STA +92<br>Max. HP +45%<br>STR +80<br>Phys. Attack +35%<br>Block +22%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 600px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom">[PvP] Soulreaver Axe</p>
        <p>STR +106<br>Phys. Attack +40%<br>Critical Damage +126%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom">[PvP] Soulreaver Sword</p>
        <p>DEX +106<br>Phys. Attack +40%<br>Critical Damage +134%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom">[PvP] Dagonet's Soulreaver</p>
        <p>STA +92<br>Max. HP +45%<br>STR +80<br>Phys. Attack +25%<br>Block +22%<br>PvP Damage +15%, PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
