<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Adrian Maznio">
	<title>Krona · Wiki</title>

	<!-- Bootstrap core CSS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

	<script src="../../../../dashboard.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="../../../../dashboard.css" rel="stylesheet">
</head>

<body>
	<% include navbar_partial %>

	<div class="container-fluid">
		<div class="row">

			<% include sidebar_partial %>

			<!-- Start of main section -->
			<main role="main" class="col-md-9 ml-sm-auto col-md-10 px-4">

				<div class="row pt-3 pb-2 mb-3">

					<div class="mx-auto" style="width: 1200px;">
						<div class="container-fluid">
							<img style="width:200px; display: block; margin-left: auto; margin-right: auto;" src="https://i.imgur.com/RqZqLMZ.png">
							<h1 class="h2 text-center">Leveling Guide
							</h1>
							<br>
							<h6 class="mt-0 mb-1 text-center">
								<small class="text-muted">Author: Adrian
								</small></h6>
							<h6 class="mt-0 mb-1 text-center">
								<small class="text-muted">Last updated: 2/3/2019
								</small></h6>
							<br>
							<div class="container-fluid">
								<div class="card-body mx-auto">
									<ul class="list-unstyled">
										<li class="media my-4">
											<img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;" alt="News">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Welcome to Krona!</h5>
												<p>
													This guide will teach you how to efficiently level up in Krona FlyFF.
													It will be assumed that you are a new player and have already created your character. So you logged in and you might be wondering:
													How do I teleport from place to place??
													Have no fear! Krona uses the <span class="guide-tool-tip-link text-primary" data-toggle="popover" data-container="body" data-placement="right" data-html="true" href="#" id="travel-atlas"><img class="mx-1" src="https://cdn.discordapp.com/attachments/311298722753413120/542510284049219585/Itm_TravelAtlas_result.png"
														    style="width: 32px; height: 32px;" alt="Travel Atlas"><strong>Travel Atlas</strong></span>
													teleportation system. The Travel Atlas is an item in your inventory that can never be deleted or taken out of your inventory.
													Double click it to open the Teleport System. The left side contains a list of all locations you are able to teleport to. It includes Towns, Leveling Areas, and Dungeons.
													The middle shows additional information about the location. For example, leveling areas show the monster levels and dungeons show the required level to enter.
													The right side shows the Obtainable Loot for each dungeon. The Travel Atlas is your best friend. It is recommended to bind it to a hot key.
												</p>
												<div id="popover-content-travel-atlas" class="d-none">
													<h5 class="card-title">Travel Atlas</h5>
													<p class="card-text">Description: Great magicians have foretold of a powerful archive of ancient locations, use this magical artifact to teleport across the vast plains and skies of Krona.</p>
												</div>

											</div>
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Important Items to Use</h5>
												<p>
													Now that we have travel out of the way, let's take a look at some vital items you will need to level efficiently.
												</p>
												<ul>
													<li class="guide-tool-tip-link text-primary"><span data-toggle="popover" data-container="body" data-placement="right" data-html="true" href="#" id="scroll-of-amplification"><img class="mx-1" src="http://flyff-wiki.webzen.com/images/1/1a/ScrollofAmplificationES%28S%29.png"
															    style="width: 32px; height: 32px;" alt="Scroll of Amplification"><strong>Scroll of Amplification</strong></span></li>
													<div id="popover-content-scroll-of-amplification" class="d-none">
														<h5 class="card-title">Scroll of Amplification</h5>
														<p class="card-text">Description: Increased EXP +50% for 1 hour.</p>
														<p class="card-text">Price: 50 Million Penya each.</p>
														<p class="card-text">Available for purchase in Central Flarine from [Premium Store] Carnelia.</p>
														<p class="card-text"><strong>Important: On Krona FlyFF they stack up to 3 times for a total of 150% Increased EXP.</strong></p>
													</div>
													<li class="guide-tool-tip-link text-primary"><span data-toggle="popover" data-container="body" data-placement="right" data-html="true" href="#" id="upcut-stone"><img class="mx-1" src="http://flyff-wiki.webzen.com/images/2/23/UpcutStone.gif"
															    style="width: 32px; height: 32px;" alt="Upcut Stone"><strong>Upcut
																Stone</strong></span></li>
													<div id="popover-content-upcut-stone" class="d-none">
														<h5 class="card-title">Upcut Stone</h5>
														<p class="card-text">Description: Increased Attack +20% for 30 minutes.</p>
														<p class="card-text">Price: 8 Million Penya each.</p>
														<p class="card-text">Available for purchase in Central Flarine from [Premium Store] Carnelia.</p>
													</div>
													<li class="guide-tool-tip-link text-primary"><span data-toggle="popover" data-container="body" data-placement="right" data-html="true" href="#" id="grilled-eel"><img class="mx-1" src="http://flyff-wiki.webzen.com/images/6/6a/Grilled_Eel.png"
															    style="width: 32px; height: 32px;" alt="Grilled Eel"><strong>Grilled
																Eel</strong></span></li>
													<div id="popover-content-grilled-eel" class="d-none">
														<h5 class="card-title">Grilled Eel</h5>
														<p class="card-text">Description: Increased HP +50% for 30 minutes.</p>
														<p class="card-text">Price: 35 Million Penya each.</p>
														<p class="card-text">Available for purchase in Central Flarine from [Premium Store] Carnelia.</p>
													</div>
													<li class="guide-tool-tip-link text-primary"><span data-toggle="popover" data-container="body" data-placement="right" data-html="true" id="flash-charm"><img class="mx-1" src="http://flyff-wiki.webzen.com/images/9/98/FlashCharm.gif"
															    style="width: 32px; height: 32px;" alt="Flash Charm"><strong>Flash
																Charm</strong></span></li>
													<div id="popover-content-flash-charm" class="d-none">
														<h5 class="card-title">Flash Charm</h5>
														<p class="card-text">Description: Increased Speed +70% for 30 minutes.</p>
														<p class="card-text">Price: 15 Million Penya each.</p>
														<p class="card-text">Available for purchase in Central Flarine from [Premium Store] Carnelia.</p>
													</div>
												</ul>
												<br>
												<p>These items should always be active while leveling.</p>
											</div>
											<img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;" alt="News">
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;" alt="News">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Love is in the air!</h5>
												<p>
													Take advantage of the couple system!
													Propose to a player by using the Motion Window which can be accessed by pressing 'O'.
													It rewards you with some nice couple buffs. Max Couple level is 18 on Krona FlyFF. The max couple buff bonuses are:
												</p>
												<ul>
													<li>Power of Love: Increased Attack 5% and Increased Defense 5%.</li>
													<li>Blessing of Love: Increased HP 10%.</li>
													<li>Miracle of Love: Damange Recieved -5%.</li>
												</ul>
												<br>
												<p>
													You can open the Couple Window by pressing 'F'.
												</p>
											</div>
										</li>
										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Lets Start Leveling!</h5>
												<p>
													Finally! Now that you know some of helpful tips we can begin to level up our character.
													Wait... one more tip... Make sure you join a party using the Party Finder which can be accessed by pressing 'L'.
													Join a party using Party Skills to gain another advantage. It is important to note that Linked Attack affects every party member, not only the leader.
													By the way, "leeching" is less neffective in Krona. Krona changed the way experience is gained in a party. Each player receives 100% of the exp from killing their monster and players near them recieve 10% of that exp.
													For example, Player A kills a monster and gains 1.00% exp. Player B is nearby and receives 0.10% exp. This allows players to train together without losing out on exp. Leveing in groups is now beneficial.
												</p>
											</div>
											<img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;" alt="News">
										</li> <!-- End Section -->

										<li class="media my-4 guide-section">
											<img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;" alt="News">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Lets Start Leveling... For real this time!</h5>
												<p>
													Okay! Lets start grinding to max level which is level 175.
												</p>
												<p>
													Before we begin, I'll note some important information you should know while leveling:
												</p>
												<ul>
													<li>Giants drop some nice stuff!
														<ul>
															<li class="guide-tool-tip-link text-primary">
																<span data-toggle="popover" data-container="body" data-placement="right" data-html="true" id="orb-of-huntsman">
																	<img class="mx-1" src="https://cdn.discordapp.com/attachments/311298722753413120/542553156568088578/Itm_SysSysWorldBossOrb_result.png" style="width: 32px; height: 32px;" alt="Orb of Huntsman">
																	<strong>Orb of the Huntsman</strong>
																</span>
															</li>
															<li class="guide-tool-tip-link text-primary">
																<span data-toggle="popover" data-container="body" data-placement="right" data-html="true" id="remantis-laccotte">
																	<img class="mx-1" src="http://flyff-wiki.webzen.com/images/5/50/Remantis_Laccotte.png" style="width: 32px; height: 32px;" alt="Remantis Laccotte">
																	<strong>Remantis Laccotte</strong>
																</span>
															</li>
														</ul>
													</li>

													<div id="popover-content-orb-of-huntsman" class="d-none">
														<h5 class="card-title">Orb of the Huntsman</h5>
														<p class="card-text">These orbs can be exchanged for rewards at Boris. They are very popular amongst players.</p>
														<p class="card-text">Players buy them for ~3-4 Million Penya each. <small class="text-muted">This is subject to change as the market is constantly changing.</small></p>
													</div>
													<div id="popover-content-remantis-laccotte" class="d-none">
														<h5 class="card-title">Remantis Laccotte</h5>
														<p class="card-text">Description: Instantly heals 40% of your Max. HP.</p>
														<p class="card-text">Cooldown: 2 Seconds.</p>
														<p class="card-text">Players buy them for ~1 Million Penya each. <small class="text-muted">This price is subject to change as the market is constantly changing.</small></p>
													</div>

													<li>
														Attacking monsters over 9 levels above your level will deal lower damage. Stick to attacking monsters 1-9 levels higher than you.
													</li>
												</ul>

											</div>
										</li><!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Level 1 - 12: Flaris</h5>
												<p>
													Leveling is pretty straight forward. Start your journey by killing some aibatts. Bangs should be the last monster you kill here.
													You can stay until level 21, but its recommended to head on over to Saint Morning at level 12. After all this guide is about efficiency.
													As you level up you should notice that you obtain level up reward boxes. Monsters will also be dropping Green Weapons and Armor Sets.
													Make sure to set up your Pet Filter as you see fit by pressing 'U'. Remember, check the boxes of what you DO want to pick up.
													Don't bother picking up weapons or extra armor sets because these are worthless to sell.
												</p>
											</div>
											<img class="d-none d-sm-block mr-3" src="http://flyff-wiki.webzen.com/images/f/f0/FlarisMap_2.png" style="width: 400px; height: 240px;" alt="News">
										</li> <!-- End Section-->

										<li class="media my-4 guide-section">
											<img class="d-none d-sm-block mr-3" src="http://flyff-wiki.webzen.com/images/2/29/Saint_MorningMap_2.png" style="width: 400px; height: 240px;" alt="News">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Level 12 - 40: Saint Morning</h5>
												<p>
													You could stay here until level 47, but its faster to just go straight to Garden of Rhisis at Level 40. By now you should have picked up a level 30 weapon and set.
													If you haven't, I would get a refund on your luck. It would appear that someone sold you some pretty rotten luck...
												</p>
											</div>
										</li> <!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Level 40 - 50: Garden of Rhisis</h5>
												<p>
													You wont stay here long!
												</p>
											</div>
											<img class="d-none d-sm-block mr-3" src="http://flyff-wiki.webzen.com/images/e/ee/Garden_of_RhisisMap_2.png" style="width: 400px; height: 240px;" alt="News">
										</li> <!-- End Section-->

										<li class="media my-4 guide-section">
											<img class="d-none d-sm-block mr-3" src="http://flyff-wiki.webzen.com/images/c/cb/DarkonMap_2.png" style="width: 400px; height: 240px;" alt="News">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Level 50 - 64: Darkon 1</h5>
												<p>
													By now you should have picked up a level 60 weapon and set. Stop leveling at Darkon once you hit level 64. You are now able to start leveling at Coral Island! Grab a Ticket from [Premium Store] Carnelia and teleport to Coral Island
													right away!
												</p>
											</div>
										</li> <!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Level 64 - 118: Coral Island</h5>
												<p>
													By now you should have picked up a level 90 weapon and set. Stop leveling here at level 118. Once you hit level 118 you are able to start leveling at Azria! Grab a Ticket from [Premium Store] Carnelia and teleport to Azria!
												</p>
											</div>
											<img class="d-none d-sm-block mr-3" src="http://flyff-wiki.webzen.com/images/thumb/e/ee/Coral_Island_Dungeon_Map.png/400px-Coral_Island_Dungeon_Map.png" style="width: 400px; height: 240px;" alt="News">
										</li> <!-- End Section-->

										<li class="media my-4 guide-section">
											<img class="d-none d-sm-block mr-3" src="http://flyff-wiki.webzen.com/images/thumb/9/90/Azria_Dungeon_Map.png/400px-Azria_Dungeon_Map.png" style="width: 400px; height: 240px;" alt="News">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Level 118 - 175: Azria</h5>
												<p>
													You will want to pick up a level 120 weapon and set if you haven't already. At level 150-154 it is recommended to run the first dungeons available in Krona FlyFF.
													Volcane drops 150 weapons. Catacombs of Anguish drops 150 armor peices. Kalgas Cave drops diamonds used in upgrading Ultimate Weapons.
													Run those until you get a level 150 weapon and full 150 set. It will only take one run of Volcane to recieve your weapon (Thank you Smart Boxes).
													If you still haven't gotten your full set from your daily Catacombs runs, just buy the rest from someone on the market.
													They are very cheap and you should definately have enough penya by now.
													Once you have your gear, go back to leveling at Azria!
													You probably noticed that the highest level monster in Azria is only Level 170. Don't worry.
													They are the only monster in Krona to not penalize your exp or drops based on your level. Kill them until you hit level 175!
												</p>
											</div>
										</li> <!-- End Section-->

										<li class="media my-4 guide-section">
											<div class="media-body mr-3">
												<h5 class="mt-0 mb-1">Congratulations! You hit max level!</h5>
												<p>
													You did it! You survived the grind! Now you are level 175 and have access to the endgame content Krona FlyFF has to offer!
													Hopefully you benefited from following this guide.
												</p>
												<br>
												<p>Click <a href="/guide/endgame">here</a> to learn what to do next!</p>
											</div>
											<img class="d-none d-sm-block mr-3" src="https://www.kronaflyff.com/Content/Public/News/15020413030d907b2422934953.jpg" style="width: 400px; height: 240px;" alt="News">
										</li> <!-- End Section-->
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>

		</div><!-- End Row -->
		</main><!-- End of main section -->





	</div> <!-- End of Row -->
	</div> <!-- End of Container -->


	<script>
		feather.replace();
		$("[data-toggle=popover]").each(function(i, obj) {

			$(this).popover({
				html: true,
				content: function() {
					var id = $(this).attr('id')
					return $('#popover-content-' + id).html();
				}
			});

		});
	</script>

</body>

</html>
