<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Adrian Maznio">
	<title>Adrian · Wiki</title>

	<!-- Bootstrap core CSS -->
	<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

	<!-- Custom styles for this template -->
	<link href="../../dashboard.css" rel="stylesheet">
</head>

<body>
	<% include navbar_partial %>

	<div class="container-fluid">
		<div class="row">

			<% include sidebar_partial %>

			<!-- Start of main section -->
			<main role="main" class="col-md-9 ml-sm-auto col-md-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">Manage Guides</h1>
				</div><!-- End Main Title-->
				<%- messages('messages', locals) %>
				<div class="row pl-3 pt-3 pb-2 mb-3">
					<a class="btn btn-primary" href="/guides/create" role="button">Create Guide</a>
					<!-- End Guide Creation-->
				</div>


				<div class="row pt-3 pb-2 mb-3">
					<div class="col-lg-11">
						<div class="card card-body bg-light">

						</div>
					</div>
				</div><!-- End Row -->

			</main><!-- End of main section -->





		</div> <!-- End of Row -->
	</div> <!-- End of Container -->


	<script>
		feather.replace();
		$('.weapon-create').popover({
			html: true,
			content: function() {
				return $(this).siblings('.popover-weapon-create').html();
			}
		});
		$('.weapon-update').popover({
			html: true,
			content: function() {
				return $(this).siblings('.popover-weapon-update').html();
			}
		});
		$('.weapon-delete').popover({
			html: true,
			content: function() {
				return $(this).siblings('.popover-weapon-delete').html();
			}
		});

		$('.armor-create').popover({
			html: true,
			content: function() {
				return $(this).siblings('.popover-armor-create').html();
			}
		});
		$('.armor-update').popover({
			html: true,
			content: function() {
				return $(this).siblings('.popover-armor-update').html();
			}
		});
		$('.armor-delete').popover({
			html: true,
			content: function() {
				return $(this).siblings('.popover-armor-delete').html();
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>
		window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="dashboard.js"></script>
</body>

</html>