<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" id="navigation">
	<div class="navbar-brand col-sm-3 col-md-2 mr-0">
		<a class="float-left align-self-center" style="text-decoration: none; color: #d5c2ab;" href="/home">Krona FlyFF · Wiki</a>
		<button class="navbar-toggler float-right d-block d-sm-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<ul class="navbar-nav px-3 d-none d-sm-block">
		<li class="nav-item text-nowrap">
			<button class="navbar-toggler float-right d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</li>
	</ul>
</nav>
<div class="partial collapse" style="width: 100%;" id="navbarToggleExternalContent">
	<br>
	<br>
	<div class="border-bottom p-4">
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
			<span>Guides</span>
		</h6>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/guide/beginners">
					<i class="fas fa-file"></i>
					Beginner's Guide
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/endgame">
					<i class="fas fa-file"></i>
					Endgame
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/leveling">
					<i class="fas fa-file"></i>
					Leveling
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/classes">
					<i class="fas fa-file"></i>
					Classes
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/everpower">
					<i class="fas fa-file"></i>
					Everpower Upgrade
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/crafting">
					<i class=" fas fa-file"></i>
					Crafting
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/spirits">
					<i class=" fas fa-file"></i>
					Spirits
				</a>
			</li>
		</ul>
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
			<span>Resources</span>
		</h6>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/guide/awakes">
					<i class="fas fa-file"></i>
					Awakening/Blessing Tables
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/scaling">
					<i class="fas fa-file"></i>
					Classes's Stat Scaling
				</a>
			</li>
		</ul>
	</div>
</div>
<!--End Navigation bar-->
