<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" id="navigation">
	<div class="navbar-brand col-sm-3 col-md-2 mr-0">
		<a class="text-white float-left align-self-center" style="text-decoration: none;" href="/home">Adrian · Wiki</a>
		<button class="navbar-toggler float-right d-block d-sm-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<ul class="navbar-nav px-3 d-none d-sm-block">
		<li class="nav-item text-nowrap">
			<a class="nav-link" href="#">Sign in</a>
		</li>
	</ul>


	<div class="partial collapse bg-light" style="width: 100%;" id="navbarToggleExternalContent">
		<div class="border-bottom p-4">
			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>Character</span>
			</h6>
			<ul class="nav flex-column list-group-flush">
				<li class="nav-item list-group-item">
					<a class="nav-link" href="/character/items/weapons">
						<i class="fas fa-shield-alt"></i>
						Weapons
					</a>
				</li>
				<li class="nav-item list-group-item">
					<a class="nav-link" href="/character/items/armor">
						<i class="fas fa-shield-alt"></i>
						Armor
					</a>
				</li>
				<li class="nav-item list-group-item">
					<a class="nav-link" href="/character/items/fashion">
						<i class="fas fa-tshirt"></i>
						Fashion
					</a>
				</li>
				<li class="nav-item list-group-item">
					<a class="nav-link" href="/character/items/jewelry">
						<i class=" fas fa-ring"></i>
						Jewelry
					</a>
				</li>
			</ul>

			<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>Dashboard</span>
			</h6>
			<ul class="nav flex-column mb-2 list-group-flush">
				<li class="nav-item list-group-item">
					<a class="nav-link" href="/dashboard/items">
						<i class="fas fa-wrench"></i>
						Manage Items
					</a>
				</li>
				<li class="nav-item list-group-item">
					<a class="nav-link" href="#">
						<i class="fas fa-wrench"></i>
						Add something else
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--End Navigation bar-->
