<div class="container">
  <h4 class="mt-0 mb-1 text-center">Psykeeper Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/2/29/Magician_Mental_Strike.png" style="width:32px;">Mental Strike</h6>
        <p class="card-text">Casts a basic ranged mental attack.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/ad/Psykeeper_Psychic_Wall.png" style="width:32px;">Psychic Wall</h6>
        <p class="card-text">Creates a wall of psychic energy that pushes enemies back and damages them if they touch it.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/1/11/Magician_Strongwind.png" style="width:32px;">Strong Wind</h6>
        <p class="card-text">Casts a wind attack that pushes the target away.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/4/41/Psykeeper_Satanology.png" style="width:32px;">Satanology</h6>
        <p class="card-text">Restricts the target's movement for 2 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/fd/Magician_Rooting.png" style="width:32px;">Rooting</h6>
        <p class="card-text">Restricts the target's movement for 0.5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/1/1a/Psykeeper_Crucio_Spell.png" style="width:32px;">Crucio</h6>
        <p class="card-text">Grants the user a buff tht reflects 10% damage recieved to attackers and grants +20% Casting Speed. Lasts 15 minutes.</p>
      </div>
    </li>

  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shadow-Curse-New.gif">
        <h6 class="card-title">Shadow Curse</h6>
        <p class="card-text">Curses the target dealing damage every 3 seconds for 15 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shadow-Area-New.gif">
        <h6 class="card-title">Shadow Area</h6>
        <p class="card-text">Grants +1000 Attack to all party members within 20 meters of the caster for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shadow-Waves-New.gif">
        <h6 class="card-title">Shadow Waves</h6>
        <p class="card-text">All surrounding monsters in a range of 4 meters around the target recieve damage.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shadow-Hurricane-New.gif">
        <h6 class="card-title">Shadow Perish</h6>
        <p class="card-text">Poisons your target and all enemies within a range of 4 meters of it. Inflicts damage every 2 seconds for 8 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shadow-Spirit-New.gif">
        <h6 class="card-title">Shadow Spirit</h6>
        <p class="card-text">Does damage to an enemy based on your remaining MP amount.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shadow-Statement-New.gif">
        <h6 class="card-title">Shadow Statement</h6>
        <p class="card-text">Removes all buffs from a target while also dealing damage every second and making it impossible for the target to recieve any buffs for 5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Upshift-New.gif">
        <h6 class="card-title">Up-Shift</h6>
        <p class="card-text">Casts a spell that teleports you towards your mouse position. Grants invisbility for 5 seconds after teleporting.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Devouring-Phantom-New.gif">
        <h6 class="card-title">Devouring Phantom</h6>
        <p class="card-text">Casts a Shadow Spell on your target. if the target has the Shadow Curse or Shadow Statement debuff, then the damage is increased by 125%.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Endless-Darkness-New.gif">
        <h6 class="card-title">Endless Darkness</h6>
        <p class="card-text">Grants the user +8117 Magic Attack for 12 seconds.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanSuho.png" style="width:32px;">  Guardian Wand</p>
        <p>INT +23<br>Magic Attack +11%<br>Casting Speed +22%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mPsy02Upper.png" style="width:32px;">  Ropang/Roshel</p>
        <p>STA +2<br>Max. HP +2%<br>INT +17</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanUsu.png" style="width:32px;">  Historic Wand</p>
        <p>INT +31<br>Magic Attack +15%<br>Casting Speed +23%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mPsy03Upper.png" style="width:32px;">  Geniun/Gynas</p>
        <p>STA +6<br>Max. HP +4%<br>INT +25</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanAngel.png" style="width:32px;">  Angel Wand</p>
        <p>INT +39<br>Magic Attack +19%<br>Casting Speed +25%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mPsySet04Upper.png" style="width:32px;">  Mekatro/Mekaron</p>
        <p>STA +10<br>Max. HP +6%<br>INT +33</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanLegendG.png" style="width:32px;">  Legendary Golden Wand</p>
        <p>INT +47<br>Magic Attack +23%<br>Casting Speed +27%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mPsySet03Upper.png" style="width:32px;">  Psykon/Psyuniper</p>
        <p>STA +14<br>Max. HP +8%<br>INT +41</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanBloody.png" style="width:32px;">  Bloody Wand</p>
        <p>INT +79<br>Magic Attack +39%<br>Casting Speed +36%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mPsySet05Upper.png" style="width:32px;">  Twilight</p>
        <p>STA +27<br>Max. HP +17%<br>INT +65<br>Magic Attack +13%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanCorpsemaker.png" style="width:32px;">  Corpsemaker Wand</p>
        <p>INT +103<br>Magic Attack +53%<br>Casting Speed +44%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_PsyCorpsemakerSuit.png" style="width:32px;">  Mordred's Corpsemaker</p>
        <p>STA +38<br>Max. HP +23%<br>INT +83<br>Magic Attack +23%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Wand</p>
        <p>INT +135<br>Magic Attack +75%<br>Casting Speed +56%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_PsySoulreaverSuit.png" style="width:32px;">  [PvE] Mordred's Soulreaver</p>
        <p>STA +64<br>Max. HP +32%<br>INT +115<br>Magic Attack +40%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaWanSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Wand</p>
        <p>INT +135<br>Magic Attack +65%<br>Casting Speed +56%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_PsySoulreaverSuit.png" style="width:32px;">  [PvP] Mordred's Soulreaver</p>
        <p>STA +64<br>Max. HP +32%<br>INT +115<br>Magic Attack +30%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
