<div class="container">
  <h4 class="mt-0 mb-1 text-center">Ranger Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/ae/Acrobat_Rapid_Shot.png" style="width:32px;">Rapid Shot</h6>
        <p class="card-text">Fire mulitple arrows wildly.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/a/aa/Acrobat_Bow_Mastery.png" style="width:32px;">Bow Mastery</h6>
        <p class="card-text">Grants the user +5% Physical Attack for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/d/dc/Acrobat_Fast_Walker.png" style="width:32px;">Fast Walker</h6>
        <p class="card-text">Grants the user +35% Movement Speed for 13 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/c/c3/Acrobat_Dark_Illusion.png" style="width:32px;">Dark Illusion</h6>
        <p class="card-text">GRants the user invisibility for 10 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/0/0d/Acrobat_Perfect_Block.png" style="width:32px;">Perfect Block</h6>
        <p class="card-text">Grants the user +15% Block Rate for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/f/f7/Acrobat_Counter_Attack.png" style="width:32px;">Counter Attack</h6>
        <p class="card-text">Blocks the next melee attack recieved. Has a small chance of stunning the attacker.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/e/ee/Ranger_Fast_Shot.png" style="width:32px;">Fast Shot</h6>
        <p class="card-text">Grants the user +20% Critical Damage for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/d/d7/Ranger_Silent_Arrow.png" style="width:32px;">Silent Arrow</h6>
        <p class="card-text">Silences the target for 3 seconds preventing them from using any skills.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Fury-Shot-New.gif">
        <h6 class="card-title">Fury Shot</h6>
        <p class="card-text">Fire a powerful arrow damaging all enemies near the target.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Hunter-Shot.gif">
        <h6 class="card-title">Hunter Shot</h6>
        <p class="card-text">Fires a magic arrow at the target.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Shock-Arrow.gif">
        <h6 class="card-title">Shock Arrow</h6>
        <p class="card-text">Fires an arrow at the target and pushes them away.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Naturally-Keen-New.gif">
        <h6 class="card-title">Naturally Keen</h6>
        <p class="card-text">Grants +25% Critical Damage to all party members within 20 meters of the caster for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Stinger-Trap-New.gif">
        <h6 class="card-title">Stinger Trap</h6>
        <p class="card-text">Places a trap on the ground. Anyone who gets within 4 meters of the trap will cause the trap to activate, poisoning them and inflicting damage every 2 seconds for 10 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Freezing-Trap-New.gif">
        <h6 class="card-title">Freezing Trap</h6>
        <p class="card-text">Places a trap on the ground. Anyone who gets within 4 meters of the trap will cause the trap to activate, freezing them for 3 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Explosion-Trap-New.gif">
        <h6 class="card-title">Explosion Trap</h6>
        <p class="card-text">Places a trap on the ground. Anyone who gets within 5 meters of the trap will cause the trap to activate, stunning them for 3 seconds and inflicting damage.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Arrow-Storm-Dance-New.gif">
        <h6 class="card-title">Arrow Storm Dance</h6>
        <p class="card-text">Grants +50% Critical Damage and +35% Range for 12 seconds.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowSuho.png" style="width:32px;">  Guardian Bow</p>
        <p>DEX +14<br>Phys. Attack +8%<br>Critical Damage +33%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBil02Upper.png" style="width:32px;">  Alext/Ales</p>
        <p>STA +12<br>Max. HP +2%<br>DEX +9</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowUsu.png" style="width:32px;">  Historic Bow</p>
        <p>DEX +20<br>Phys. Attack +12%<br>Critical Damage +41%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBil03Upper.png" style="width:32px;">  Akent/Aken</p>
        <p>STA +16<br>Max. HP +4%<br>DEX +14</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowAngel.png" style="width:32px;">  Angel Bow</p>
        <p>DEX +26<br>Phys. Attack +16%<br>Critical Damage +49%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBilSet04Upper.png" style="width:32px;">  Rody/Rodey</p>
        <p>STA +20<br>Max. HP +6%<br>DEX +19</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowLegendG.png" style="width:32px;">  Legendary Golden Bow</p>
        <p>DEX +32<br>Phys. Attack +20%<br>Critical Damage +57%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mBilSet03Upper.png" style="width:32px;">  Billst/Billporon</p>
        <p>STA +24<br>Max. HP +8%<br>DEX +24</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowBloody.png" style="width:32px;">  Bloody Bow</p>
        <p>DEX +54<br>Phys. Attack +32%<br>Critical Damage +89%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mBilSet05Upper.png" style="width:32px;">  Grim</p>
        <p>STA +40<br>Max. HP +17%<br>DEX +41<br>Phys. Attack +10%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowCorpsemaker.png" style="width:32px;">  Corpsemaker Bow</p>
        <p>DEX +76<br>Phys. Attack +44%<br>Critical Damage +113%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RangerCorpsemakerSuit.png" style="width:32px;">  Herriot's Corpsemaker</p>
        <p>STA +52<br>Max. HP +23%<br>DEX +54<br>Phys. Attack +20%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Bow</p>
        <p>DEX +110<br>Phys. Attack +60%<br>Critical Damage +155%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RangerSoulreaverSuit.png" style="width:32px;">  [PvE] Herriot's Soulreaver</p>
        <p>STA +80<br>Max. HP +32%<br>DEX +84<br>Phys. Attack +37%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaBowSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Bow</p>
        <p>DEX +110<br>Phys. Attack +50%<br>Critical Damage +155%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RangerSoulreaverSuit.png" style="width:32px;">  [PvP] Herriot's Soulreaver</p>
        <p>STA +80<br>Max. HP +32%<br>DEX +84<br>Phys. Attack +27%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
