<div class="container">
  <h4 class="mt-0 mb-1 text-center">Ringmaster Guide</h4>
  <p class="text-center">Table of Contents</p>
  <ul class="text-center">
    <li>Classic Skills</li>
    <li>Krona Exclusive Skills</li>
    <li>Equipment Progression</li>
  </ul>
</div>
<br>

<div class="row">
  <a id="classic-skills"></a>
  <h5 class="mt-0 mb-1 text-center">Classic Skills</h5>
  <ul class="list-unstyled class-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/7/74/Assist_Heal.png" style="width:32px;">Heal</h6>
        <p class="card-text">Restores 35000 Health to the target.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/50/Assist_Resurrection.png" style="width:32px;">Resurrection</h6>
        <p class="card-text">Resurrects a dead target with 100% of their Health and Mana.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/b/b8/Assist_Prevention.png" style="width:32px;">Prevention</h6>
        <p class="card-text">Recovers HP when it fall below a certain point.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/8/8c/Ringmaster_Protect.png" style="width:32px;">Protect</h6>
        <p class="card-text">Grants +10% Max Health and 5% Defence to the target for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/4/42/Ringmaster_Spirit_Fortune.png" style="width:32px;">Spirit Fortune</h6>
        <p class="card-text">Grants +5% Attack and +10% Critical Damage to the target for 15 minutes.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/3/3d/Ringmaster_Holycross.png" style="width:32px;">Holycross</h6>
        <p class="card-text">Target enemy takes double damage from the next attack within 5 seconds.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title"><img class="card-img-top" src="http://flyff-wiki.webzen.com/images/5/56/Ringmaster_Geburah_Tiphreth.png" style="width:32px;">Geburah Tiphreth</h6>
        <p class="card-text">Grants +500 Attack and +25% Attack Speed to party members within 10 meters of the caster for 15 minutes.</p>
      </div>
    </li>
  </ul>
</div>


<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Krona Exclusive Skills</h5>
  <ul class="list-unstyled krona-skills">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Clean-Surgery.gif">
        <h6 class="card-title">Clean Surgery</h6>
        <p class="card-text">Clears all debuffs from a target. This skill can be used even when silenced.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Earth-Light.gif">
        <h6 class="card-title">Earth Light</h6>
        <p class="card-text">Damages enemies within 4 meters.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Group-Therapy.gif">
        <h6 class="card-title">Group Therapy</h6>
        <p class="card-text">Restores 32824 Health to party members within 6 meters of the target.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Heavenly-Prayer.gif">
        <h6 class="card-title">Heavenly Prayer</h6>
        <p class="card-text">Instantly resotres 54706 Health and resotres 6078 Health over 12 seconds, ever 2 seconds, to all allies within 30 meters.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Mana-Reward.gif">
        <h6 class="card-title">Mana Reward</h6>
        <p class="card-text">Light spell attack. Returns 2.5% of the damage dealt as Mana.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Ray-Chants.gif">
        <h6 class="card-title">Ray Chants</h6>
        <p class="card-text">Restores 102943 Health to a target.</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <img class="card-img-top" src="/images/skills/Recovery-Operation.gif">
        <h6 class="card-title">Recovery Operation</h6>
        <p class="card-text">Restores 10558 Health to the target every second for 12 seconds.</p>
      </div>
    </li>
  </ul>
</div>

<br>

<div class="row">
  <h5 class="mt-0 mb-1 text-center">Equipment Progession</h5>
  <ul class="list-unstyled gear-progession">
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 30</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheSuho.png" style="width:32px;">  Guardian Stick</p>
        <p>INT +12<br>Magic Attack +6%<br>Casting Speed +22%<br>Healing +5%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mRin02Upper.png" style="width:32px;">  Pact/Paxt</p>
        <p>STA +4<br>Max. HP +2%<br>INT +7</p>
      </div>
    </li>

    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 60</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheUsu.png" style="width:32px;">  Historic Stick</p>
        <p>INT +18<br>Magic Attack +10%<br>Casting Speed +23%<br>Healing +10%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mRin03Upper.png" style="width:32px;">  Shupon/Shrian</p>
        <p>STA +8<br>Max. HP +5%<br>INT +12</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 90</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheAngel.png" style="width:32px;">  Angel Stick</p>
        <p>INT +24<br>Magic Attack +14%<br>Casting Speed +25%<br>Healing +15%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mRinSet04Upper.png" style="width:32px;">  Navil/Necleus</p>
        <p>STA +12<br>Max. HP +8%<br>INT +17</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 120</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheLegendG.png" style="width:32px;">  Legendary Golden Stick</p>
        <p>INT +30<br>Magic Attack +18%<br>Casting Speed +27%<br>Healing +20%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/itm_mRinSet03Upper.png" style="width:32px;">  Rimyth/Remingster</p>
        <p>STA +16<br>Max. HP +11%<br>INT +22</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 150</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheBloody.png" style="width:32px;">  Bloody Stick</p>
        <p>INT +52<br>Magic Attack +30%<br>Casting Speed +36%<br>Healing +38%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_mRinSet05Upper.png" style="width:32px;">  Revenio</p>
        <p>STA +29<br>Max. HP +20%<br>INT +39<br>Magic Attack +11%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Epic</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheCorpsemaker.png" style="width:32px;">  Corpsemaker Stick</p>
        <p>INT +74<br>Magic Attack +38%<br>Casting Speed +44%<br>Healing +54%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RinCorpsemakerSuit.png" style="width:32px;">  Caelia's Corpsemaker</p>
        <p>STA +40<br>Max. HP +26%<br>INT +52<br>Magic Attack +21%</p>
      </div>
    </li>
    <li class="card mx-2 my-2">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheSoulreaver.png" style="width:32px;">  [PvE] Soulreaver Stick</p>
        <p>INT +108<br>Magic Attack +52%<br>Casting Speed +56%<br>Healing +94%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RinSoulreaverSuit.png" style="width:32px;">  [PvE] Caelia's Soulreaver</p>
        <p>STA +80<br>Max. HP +39%<br>INT +82<br>Magic Attack +38%</p>
      </div>
    </li>
    <li class="card mx-2 my-2" style="height: 450px;">
      <div class="card-body">
        <h6 class="card-title">Level 175 - Legendary</h6>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_WeaCheSoulreaver.png" style="width:32px;">  [PvP] Soulreaver Stick</p>
        <p>INT +108<br>Magic Attack +52%<br>Casting Speed +56%<br>PvP Damage +60%<br>PvE Damage -80%</p>
        <p class="border-bottom"><img class="card-img-top" src="/images/Icons/Itm_RinSoulreaverSuit.png" style="width:32px;">  [PvP] Caelia's Soulreaver</p>
        <p>STA +80<br>Max. HP +39%<br>INT +82<br>Magic Attack +25%<br>PvP Damage +15%<br>PvE Damage -80%</p>
      </div>
    </li>
  </ul>
</div>
