<!-- Start of Navigation Side Bar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
			<span>Guides</span>
		</h6>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/guide/leveling">
					<i class="fas fa-file"></i>
					Leveling
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/classes">
					<i class="fas fa-file"></i>
					Classes
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/everpower">
					<i class="fas fa-file"></i>
					Everpower Upgrade
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/crafting">
					<i class=" fas fa-file"></i>
					Crafting
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/guide/spirits">
					<i class=" fas fa-file"></i>
					Spirits
				</a>
			</li>
		</ul>

		<!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Character</span>
		</h6>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/character/items/weapons">
					<i class="fas fa-shield-alt"></i>
					Weapons
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/character/items/armor">
					<i class="fas fa-shield-alt"></i>
					Armor
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/character/items/fashion">
					<i class="fas fa-tshirt"></i>
					Fashion
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/character/items/jewelry">
					<i class=" fas fa-ring"></i>
					Jewelry
				</a>
			</li>
		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Dashboard</span>
		</h6>

		<ul class="nav flex-column mb-2">
			<li class="nav-item">
				<a class="nav-link" href="/dashboard/items">
					<i class="fas fa-wrench"></i>
					Manage Items
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fas fa-wrench"></i>
					Add something else
				</a>
			</li>
		</ul> -->
	</div>
</nav>
<!-- End of Navigation Side Bar -->
